	html{
		height: 100%;
	}
	body {
		background: url("images/background.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		height: 100%;
			}
	header {
		width: 100%;
		height: 6%;	
		position: relative;
	}
	#menubar {
		position: absolute;
		left: 2%;
		top: 50%;
		cursor: pointer;
	}
	#menu {
		width: 140px;
		position: absolute;
		right: 2%;
		top: 40%;
		cursor: pointer;	
	}
	#search {
		float: left;
	}
	#user {
		float: right;
	}
	article {
		position: relative;
		width: 100%;
		height: 83%;	
	}
	#heading {
		height: 45px;
		font-size: 3em;
		text-align: center;
		line-height: 1;
	}
	#top-nav {
		width: 76.096%;
		height: 8.117%;
		margin: 0 auto;
	}
	.wrapper {
		float: left;
		position: relative;
		overflow: hidden;
	}
	.wrapper img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.slider {
		width: 100%;
		height: 100%;
		background: #00527A;
		opacity: 0.7;
		position: absolute;
		-webkit-transition : -webkit-transform 0.3s ease-out;
		-moz-transition : -moz-transform 0.3s ease-out;
		-o-transition : -o-transform 0.3s ease-out;
		transition : transform 0.3s ease-out;
	}
	#top-nav .wrapper {
		width: 11.112%;
		height: 100%;
		cursor: pointer;
	}
	#top-nav .wrapper .event-name {
		width: 100%;
		color: white;
		position: absolute;
		text-align: center;
		top: 50%;
		font-weight: bold;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition : -webkit-transform 0.3s ease-out;
		-moz-transition : -moz-transform 0.3s ease-out;
		-o-transition : -o-transform 0.3s ease-out;
		transition : transform 0.3s ease-out;
	}
	hr {
		width: 90%;
		margin: 0 auto;
		height: 1px;
		background: black;
	}
	#mid-nav {
		width: 314.931%;
		height: 54.11%;
		position: absolute;
		left: 50%;
		top: 37%;
	}
	#mid-nav .wrapper {
		width: 10.983%;
		height: 100%;
	}
	#mid-nav .wrapper img {
		height: 75%;
		cursor: pointer;
	}
	#mid-nav .wrapper .slider {
		height: 75%;
		cursor: pointer;
	}
	#mid-nav .wrapper .two-dots {
		position: absolute;
		height: 10%;
		width: 2.223%;
		top: 77%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	.two-dots div {
		width: 100%;
		height: 33.334%;
		border-radius: 50%;
		background: #000;
		margin-top: 50%;
	}
	#mid-nav .wrapper .event-name {
		position: absolute;
		width: 100%;
		bottom: 0;
		text-align: center;
		font-size: 1.7em;
	}
	.clear {
		clear: both;
	}
	#top-nav .wrapper:hover .slider {
			-webkit-transform : translateY(-100%);
			-moz-transform : translateY(-100%);
			-o-transform : translateY(-100%);
			transform : translateY(-100%);
		}
	#top-nav .wrapper:hover .event-name {
			-webkit-transform : translateY(90%);
			-moz-transform : translateY(90%);
			-o-transform : translateY(90%);
			transform : translateY(90%);
		}
	#mid-nav .wrapper:hover .slider {
			-webkit-transform : translateY(118%);
			-moz-transform : translateY(118%);
			-o-transform : translateY(118%);
			transform : translateY(118%);
		}
	#mid-nav .wrapper:hover .event-name {
		color: #fff;	
		}
	section {
		position: absolute;
		width: 53.805%;
		height: 59.881%;
		top: 11.5%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
		z-index: -1;
	}
	#hand-left, #hand-right {
		position: absolute;
		width: 14.286%;
		height: 31.25%;
		top: 9%;
	}
	#hand-left {
		left: 0px;
	}
	#hand-right {
		right: 0px;
	}
	#robot-body {
		position: absolute;
		width: 50%;
		height: 100%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	#scroll {
		position: absolute;
		left:50%;
		top: 95%;
		font-size: 1.2em;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	footer {
		width: 100%;
		height: 11%;
		position: relative;
	}
	#social {
		width: 140px;
		position: absolute;
		left: 2%;
		top: 25%;
	}
	.logo {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		float: left;
		margin-right: 5px;
	}
	.logo img {
		width: 20px;
		height: 20px;
		margin: 5px;
		cursor: pointer;
	}
	#facebook {
		background: #5473a3;
	}
	#twitter {
		background: #56acef;
	}
	#youtube {
		background: #e52d27;
	}
	#linkedin {
		background: #4875B4;
	}
	#other-links {
		position: absolute;
		right: 2%;
	}
	#saarang, #iitm, #iso {
		float: left;
		margin-left: 10px;
		cursor: pointer;
	}
	#saarang {
		margin-top: 2%;
		background: #000;
	}
	#iitm, #iitm img, #iso, #iso img {
		width: 60px;
		height: 60px;
	}
	#iso {
		border-radius: 50%;
		background: #000;
	}