@font-face {
	font-family: 'CGF Locust Resistance';
	src: url('../styles/fonts/CGFLocustResistance.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: url('../styles/fonts/LatoLight.ttf') format('truetype');
}
@font-face {
  font-family: 'MyraidPro';
  src: url('../styles/fonts/MyriadProRegular.otf') format("opentype");
}

::-webkit-scrollbar {
  width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}

.shaastraText {
	font-family: 'CGF Locust Resistance';
}

#aboutUs {
	margin-top: 5%;
}
#aboutUs h3 {
	font-size: 3vh;
}

.aboutUsContent {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	min-height: 350px;
	padding: 50px 100px 50px 100px;
	text-align: justify;
}

.aboutUsHeading {
	font-family: 'MyraidPro';
	font-variant: small-caps;
	font-size: 8vh;
	height: 45px;
	padding-bottom: 3%;
}

@media only screen and (max-width:767px) {
	#aboutUs {
		margin-top: 5%;
	}
}