@font-face {
  font-family: 'Proxima';
  src: url('../styles/fonts/ProximaNovaRegular.otf') format("opentype");
}
@font-face {
  font-family: 'Feather';
  src: url('../styles/fonts/Feather.ttf') format("truetype");
}
@font-face {
  font-family: 'MyraidPro';
  src: url('../styles/fonts/MyriadProRegular.otf') format("opentype");
}

::-webkit-scrollbar {
  width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}

.aboutUs-heading-top {
	margin-top: 5%;
}
#aboutUs h3 {
	font-size: 3vh;
}

.aboutUsContent {
	background-color: rgba(255, 255, 255, 0.6);
	min-height: 350px;
	padding: 50px 100px 50px 100px;
	text-align: justify;
	font-family: 'Proxima';
}

.aboutUsHeading {
	font-family: 'Feather';
	font-variant: small-caps;
	font-size: 8vh;
	height: 45px;
	padding-bottom: 3%;
}

@media only screen and (max-width:767px) {
	#aboutUs {
		margin-top: 5%;
	}
	.aboutUs-heading-top {
		margin-top: 12%;
	}
}