@font-face {
  font-family: 'Proxima';
  src: url('../styles/fonts/ProximaNovaRegular.otf') format("opentype");
}
@font-face {
  font-family: 'Feather';
  src: url('../styles/fonts/Feather.ttf') format("truetype");
}
@font-face {
  font-family: 'MyraidPro';
  src: url('../styles/fonts/MyriadProRegular.otf') format("opentype");
}

::-webkit-scrollbar {
  width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}

div.contact-div img {
  display: inline;
  margin: 5px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 150px;
  height: 150px;
}
div.contact-img-desc {
  text-align: center;
  font-weight: 900;
  font-size: 3vh;
  min-height: 40px;
  font-family: 'Proxima';
}

ul {
  list-style-type: none;
}
.heading {
  position: relative;
  /*left: -15%;*/
  font-size: 8vh;
  font-family: 'Feather';
  font-variant: small-caps;
  margin-top: 3%;
}
.wrapper{
  text-align: center;
}
.contact-main{
	margin-top: 0px;
	margin-left: 100px;
	margin-right: 100px;
}

@keyframes height{
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}
@-webkit-keyframes height{
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}

.form-and-map{
  margin-top: 90px;
}
.modal-title {
  font-family: 'Feather';
}
.modal-body {
  font-family: 'Proxima';
}
.modal-footer {
  font-family: 'Proxima';
}
.contact-modal-contents{
  display: block;
  text-align: center;
  font-family: 'Proxima';
}
#title{
	position: fixed;
	left: 50%;
}
#name{
  padding-left: 27px;
}
#email{
  padding-left: 27px;
  margin-top: 10px;
}
#mobile {
  padding-left: 27px;
  margin-top: 10px;
}
#message {
  margin-top: 10px;
}
#contact-submit-btn {
  margin-top: 10px;
  /*width: 20%;*/
  position: absolute;
  right: 43%;
  vertical-align: center;

  background-color: #173e43;
}
.input-icon {
  background-color: #173e43;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 0;
}
#map {
  height: 350px;
  width: 350px;
  border: 10px solid #173e43;
  overflow: hidden;
  border-radius: 1000px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}
#contactPhone #contactMail{
  padding-left: 5px;
}

@media only screen and (max-width:900px) {
  div.contact-div img {
    width: 100px;
    height: 100px;
  }
  div.contact-img-desc {
    text-align: center;
    font-weight: 900;
    font-size: 1vh;
  }
  .small-devices-map {
    margin-top: 20%;
    margin-left: -20%;
    margin-bottom: 20%;
  }
}

@media only screen and (max-width:700px) {
  div.contact-div img {
    width: 100px;
    height: 100px;
  }
  div.contact-img-desc {
    text-align: bottom;
    margin: 0;
  }
}

@media only screen and (max-width:650px) {
  div.contact-div img {
    width: 100px;
    height: 100px;
  }
  div.contact-img-desc {
    text-align: bottom;
    margin: 0;
  }
}