::-webkit-scrollbar {
    width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}

ul{
  list-style-type: none;
}
.heading {
  font-size: 10vh;
  margin-top: 3%;
}
.wrapper{
  text-align: center;
}
.main{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
.rhombus-grid{
  margin: 0 auto;
  width: 100%;
}
.rhombus-grid .rhombus{
  list-style: none;
  float: left;
}
.rhombus{
  height: 160px;
  width: 160px;
  color: #fff;
  background-color: #5c88e2;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
@keyframes height{
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}
@-webkit-keyframes height{
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}

.rhombus-text{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-align: center;
  width: 170px;
  height: 170px;
  display: table-cell;
  font-size: 1.3em;
  vertical-align: middle;
  z-index: 2;
}
.rhombus-grid > .rhombus:nth-child(1) {
  height: 320px;
  width: 320px;
} 
.rhombus-grid > .rhombus:nth-child(1) > .rhombus-front > .rhombus-text {
  height: 300px;
  width: 300px;
  display: table-cell;
  font-size: 2.1em;
  vertical-align: middle;
}
.rhombus-grid > .rhombus:nth-child(1) {
  margin-left: 30px;
}
.rhombus-grid > .rhombus:nth-child(2) {
  margin-left: -126px;
  margin-top: 312px;
}
.rhombus-grid > .rhombus:nth-child(3) {
  margin-left: -43px;
  margin-top: 195px;
}
.rhombus-grid > .rhombus:nth-child(4) {
  margin-left: -160px;
  margin-top: 428px;
}
.rhombus-grid > .rhombus:nth-child(5) {
  margin-left: -43px;
  margin-top: 311px;
}
.rhombus-grid > .rhombus:nth-child(6) {
  margin-left: -43px;
  margin-top: 195px;
}
.rhombus-grid > .rhombus:nth-child(7) {
  margin-left: -158px;
  margin-top: 426px;
}
.rhombus-grid > .rhombus:nth-child(8) {
  margin-left: -45px;
  margin-top: 80px;
}
.rhombus-grid > .rhombus:nth-child(9) {
  margin-left: -43px;
  margin-top: 70px;
}
.rhombus-grid > .rhombus:nth-child(10) {
  margin-left: 810px;
  margin-top: -393px;
}
.rhombus-grid > .rhombus:nth-child(11) {
  margin-left: 813px;
  margin-top: -164px;
}
.rhombus-grid > .rhombus:nth-child(12) {
  margin-left: 930px;
  margin-top: -280px;
}
.form-and-map{
  margin-top: 90px;
}
.contact-modal-contents{
  display: block;
  text-align: center;
}
#title{
	position: fixed;
	left: 50%;
}
#name{
  padding-left: 27px;
}
#email{
  padding-left: 27px;
  margin-top: 10px;
}
#mobile{
  padding-left: 27px;
  margin-top: 10px;
}
#message{
  margin-top: 10px;
}
#contact-submit-btn{
  margin-top: 10px;
  width: 20%;
  position: absolute;
  right: 15px;
  background-color: #5c88e2;
}
.input-icon{
  background-color: #5c88e2;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 0;
}
#map{
  height: 350px;
  width: 350px;
  border: 10px solid #5c88e2;
  overflow: hidden;
  border-radius: 1000px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}
#contactPhone #contactMail{
  padding-left: 5px;
}
