@font-face {
  font-family: 'Proxima';
  src: url('../styles/fonts/ProximaNovaRegular.otf') format("opentype");
}
@font-face {
  font-family: 'Feather';
  src: url('../styles/fonts/Feather.ttf') format("truetype");
}
@font-face {
  font-family: 'MyraidPro';
  src: url('../styles/fonts/MyriadProRegular.otf') format("opentype");
}

::-webkit-scrollbar {
    width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}
.topdiv
{
	margin-top: 5%;
	overflow:scroll;
}
#list{
	margin-top:5%;
}
#hding
{
	font-size: 1.5em;
    font-family: 'Proxima';
}
#topHead
{
	text-align:center;
	font-size: 3.5em;
    font-family: 'Feather';
}
#teamName
{
	font-size: 1.5em;
}
#teamDetails
{
	position: relative;
	margin-top: 15%;
}
#setnewTeam{
  position: relative;
  margin-top: 2%;
  font-family: 'Proxima';
}
#addMember{
	background-color:#1e1e1e;
    border-width: 0px;
}
#createnewTeam{
  position: relative;
  margin-top: 7%;
  font-family: 'Proxima';
  border-width: 0px;
  background-color:#173e43;
}
#registerTeam{
  position: relative;
  margin-top: 4%;
  font-family: 'Proxima';
  border-width: 0px;
  background-color:#173e43;
}
#teamCheck{
	font-size: 15px;
    font-family: 'Proxima';
}
#teamReq{
	margin-top: 0px;
	font-size: 15px;
    font-family: 'Proxima';
}
#recommend
{
	font-size: 1.5em;
	margin-top: 15%;
	display: table-row;
}
.fonts{
	font-size:1.5em;
}
.fontNormal{
	font-size:1.2em;}
#scroll {
	background:#5c88e2;
	border:2px solid #000;
	overflow:auto;
	border-radius: 1%;
	box-shadow:0 0 4px #000;
}
#scroll ul {
	display:table;
	white-space:nowrap;
	list-style:none;
}
#scroll li {
	display:table-cell; 
	text-align:center;       
}
#scroll img {
	border:0;
	display:block;
	border:1px solid #A3CBE0;
	margin:15px 15px 0 15px;
}
#scroll a:active img, #scroll a:focus img, #scroll a:hover img {
	border:1px solid #000;
}
#scroll a {
	text-decoration:none;
	font-weight:bold;
	color:#000;
}
#scroll a:active, #scroll a:focus, #scroll a:hover {
	color:#FFF;
}
#scroll span {
	padding:5px 0 0;
	display:block;
}
