@font-face {
  font-family: 'Proxima';
  src: url('../styles/fonts/ProximaNovaRegular.otf') format("opentype");
}
@font-face {
  font-family: 'Feather';
  src: url('../styles/fonts/Feather.ttf') format("truetype");
}

.makeCenter {
  text-align: center;
  font-family: 'Proxima';
  font-weight: bolder;
}

article {
  padding-top: 5%;
  position: relative;
  height: 90%;
}

#heading {
  position: relative;
  margin-top: 3%;
  height: 45px;
  font-size: 10vh;
  line-height: 1;
  font-family: 'Feather';
  text-align: center;
}

article .arrow {
 display: inline-block;
  text-align: center;
  background-color: rgba(119,158,203,0.9);
  line-height: 3em;
  width: 3em;
  font-size: 4vh;
  position: relative;
  z-index: 200;
}

/*media queries*/
@media all and (max-width:750px) {
  #heading {
    line-height: 2.5;
  }
}

#footer{
  width: 100%;
  bottom: 0;
  background-color: white;
  position: fixed;
}
