@font-face {
  font-family: 'MyraidPro';
  src: url('../styles/fonts/MyriadProRegular.otf');
}
@font-face {
  font-family: 'Lato';
  src: url('../styles/fonts/LatoLight.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}
.evhead {
	font-variant: small-caps;
	font-weight: bolder;
	font-family: 'MyraidPro';
	font-size: 30px;
	z-index: 1;
	position: relative;
}

.evcontent {
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 1;
	font-family: 'MyraidPro';
	position: relative;
	width: 100%;
	min-height: 350px;
	padding: 20px 50px 20px 50px;
	text-align: justify;
}

a[event-nav-hyperlink] {
	text-decoration: none;
}

.cont {
	font-size: 20px;
}

.event-nav-xs {
	font-variant: small-caps;
	background-color: #173e43;
	color: white;
	height: 35px;
	font-family: 'Lato';
	margin: 1%;
	line-height: 35px;
	font-size: 25px;
	text-align: right;
	padding-right: 5%;
	border-radius: 5px 0 0 5px;
}

.event-nav-xs:hover {
	color: black;
}

.event-nav {
	display: table-cell;
	vertical-align: middle;
	font-variant: small-caps;
	z-index: 1;
	background-color: #173e43;
	color: white;
	width: 100%;
	height: auto;
	line-height: 35px;
	font-family: 'Lato';
	font-size: 23px;
	text-align: right;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	table-layout: fixed;
	padding-right: 20%;
}

.event-nav:hover {
	color: #a3a3a3;
}

.event-nav-selected {
	color: #a3a3a3;
}

#event-nav-box {
	font-family: 'Lato';
}

@media all and (max-width: 767px) {
	.event-nav-xs {
		font-size: 15px;
		border-radius: 5px 5px 5px 5px;

	}
	.evcontent {
		padding: 10px 5px 10px 5px;
	}
}