 
html {
  height: 100%;
}

body {
  background: url("../images/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
}

.scrollable .scrollable-bar,.scrollable .scrollable-slider{
  border-radius:6px;
} 

.scrollable .scrollable-bar {
  position:absolute;
  box-sizing:border-box;
  opacity:1;
  background-color:#f0f0f0;
  background-color:rgba(0,0,0,0);
  height:1px;
  max-width:1137.2px;
  margin-left:9.5%;
  z-index: 9900;
  position: absolute;
  border:2px solid transparent
}

.scrollable .scrollable-bar:hover, .scrollable.active .scrollable-bar {
  opacity:1;
}

.scrollable .scrollable-slider {
  max-width:27px; 
  background:rgba(32,32,32,1);
  background:linear-gradient(to right,rgba(32,32,32,1);rgba(32,32,32,1));
}

.scrollarea:hover .scrollable .scrollable-slider {
  opacity: 1;
}
.scrollable .scrollable-bar-x .scrollable-slider {
  height:8.4px;
  margin-left:4%;
}

.scrollable .scrollable-bar-y .scrollable-slider {
  width:8px;
}

article {
  margin-top:-5%;
  position: relative;
  height: 90%;
}

.scrollarea { 
  margin-left: -2%;
  width: 110%; 
  height: 93%;
}

.event-list-top-nav {
 	width:100%;
 	height: 10%;

 	margin-left: 7%;
 	font-size: 0;
} 
    
.wrap1 {
  margin-top: 1.5%;
  width: 100%;
  font-size: 0;
  height: 10%;
}

.wrap1: before, .wrap1: after {
  overflow: hidden;
  content: "";
  display: table;
}

.wrap1: after {
  clear: both;
}

.wrap1 .wrapperz {
  position: relative;
  z-index: 0;
  display: inline-block;
  float: left;
  width: 9.4%;
  border-top:2px solid black;
}

.wrap1 .wrapperz img {
  width: 100%;
  height: 10%;
  vertical-align: middle;
}

.wrap img {
  width: 75vh;
  margin-top: 30%;
  cursor: pointer;
  bottom: 30%;
  line-height: 20%;
  height: auto;
  width: auto/9;
/* ie8 */
}

.wrapperz {
  height: auto;
  float: left;
  overflow: hidden;
}

.wrap .wrapperz {
  left:4%;
}

.wrap1,.wrap {
	display: inline-block;
  white-space: nowrap;
  height: auto;
  position: relative;
  z-index: 50;
}

#heading {
  margin-top: 2%;
  height: 45px;
  font-size: 11vh;
  margin:0 auto;
  line-height: 1;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.wrap {
  width: 675vh;
  margin-left: 30%;
  margin-right: 35%; 
} 

.wrapperz {
  height: auto;
}

.event-list-top-nav .wrapperz {
 	overflow: hidden;
}

.wrap1 p.event-name {
	width: 100%;
	color: white;
	position: absolute;
	text-align: center;
	top:50%;
	font-weight: bolder;
	font-size: 2.1vh;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition : -webkit-transform 0.3s ease-out;
	-moz-transition : -moz-transform 0.3s ease-out;
	-o-transition : -o-transform 0.3s ease-out;
	transition : transform 0.3s ease-out;
}

.slider {
	width: 100%;
	height: 100%;
	background:#00688B;
	opacity: 0.85;
	position:absolute;
	-webkit-transition : -webkit-transform 0.3s ease-out;
	-moz-transition : -moz-transform 0.3s ease-out;
	-o-transition : -o-transform 0.3s ease-out;
	transition : transform 0.3s ease-out;
}

.event-list-top-nav  .wrapperz:hover .slider {
	-webkit-transform : translateY(-100%);
	-moz-transform : translateY(-100%);
	-o-transform : translateY(-100%);
	transform : translateY(-100%);
}

.event-list-top-nav .wrapperz:hover .wrapperz{
  border: 1.4px solid gray;
}

.event-list-top-nav .wrap1 .wrapperz:hover .event-name {
	-webkit-transform : translateY(220%);
	-moz-transform : translateY(220%);
	-o-transform : translateY(220%);
	transform : translateY(180%);
}

.wrap p.event-name {
	position: relative;
	width: 100%;
	bottom: 0;
	margin-top: 13%;
	font-weight:bold; 
	text-align: center;
	font-size: 4.5vh;
}

article .glyphicon {
  display: inline-block;
  text-align: center;
  width:6%;
  line-height: 70px;
  background-color: rgba(119,158,203,0.9);
  font-size: 30px;
  position: relative;
  z-index: 0;
}

article .glyphicon:hover {background-color:rgba(255,105,97,1); 
	cursor: pointer; 

  -webkit-transition: background-color 10ms linear;
  -moz-transition: background-color 10ms linear;
  -o-transition: background-color 10ms linear;
  -ms-transition: background-color 10ms linear;
  transition: background-color 10ms linear;
}

.scrollarea span.two-dots {
	position: absolute;
	height: 8%;
	width: 3.223%;
	top: 78%;
	left: 50%;
}

.two-dots div {
	width: 1.8vh;
	height: 29.334%;
	border-radius: 50%;
	background: #000;
	margin-top: 90%;
}

#left-arrow {
  float:left;
  margin-top:-18.5%;
  margin-left:0.5%;
  color:white;
  z-index: 100;
}

#right-arrow {
  float:right; 
  margin-top:-18.5%;
  margin-right:0.5%;
  color:white;
  z-index: 100;
}

