            body {
        background: url("../images/background.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
      
       
            }
        article {
        margin-top:0.2%;
        position: relative;
        height: 80%;
    }
    .scrollarea { 

    	width: 105%; 
    	height: 91%;
    	 margin:0 auto;
    	}
     .event-list-top-nav{
     	width:100%;
     	height: 10%;
     	margin-left: 10%;
     	font-size: 0;
     } 
     .event-list-top-nav img{
    width: 20vh;
   bottom: 35%;
    height: auto;
    border-top: 3.9px solid #000;
    overflow: hidden;
    cursor: pointer;
    width: auto\9;/* ie8 */
     }     
   .wrap img {
    width: 70vh;
    margin-top: 35%;
   cursor: pointer;
   bottom: 30%;
   line-height: 20%;
    height: auto;

    width: auto\9;
/* ie8 */
}

.wrapperz{
    display:block;
   
    height: auto;
    position: relative;
    z-index: 999;
    float: left;

}

.wrap1,.wrap{
	display: inline-block;
    white-space: nowrap;
    height: auto;
    position: relative;
    z-index: 999;

}
#heading {
        margin-top: 2%;
        height: 45px;
        font-size: 9vh;
        text-align: center;
        line-height: 1;
        font-family: 'Orbitron', sans-serif;
    }
.wrap{width: 300%;
margin-left: 30%; } 

.wrapperz{
    height: auto;
  
}
 .event-list-top-nav .wrapperz{
 	overflow: hidden;
 }
 .wrap1 p.event-name {
		width: 100%;
		color: white;
		position: absolute;
		text-align: center;
		top:50%;
		font-weight: bold;
		font-size: 2vh;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition : -webkit-transform 0.3s ease-out;
		-moz-transition : -moz-transform 0.3s ease-out;
		-o-transition : -o-transform 0.3s ease-out;
		transition : transform 0.3s ease-out;
	}
img .slider {

		width: 1%;
		height: 100%;
		background: #000080	;
		opacity: 0.7;
		position: absolute;
		-webkit-transition : -webkit-transform 0.3s ease-out;
		-moz-transition : -moz-transform 0.3s ease-out;
		-o-transition : -o-transform 0.3s ease-out;
		transition : transform 0.3s ease-out;
	}
	.event-list-top-nav .wrapperz:hover .slider {
			-webkit-transform : translateY(-100%);
			-moz-transform : translateY(-100%);
			-o-transform : translateY(-100%);
			transform : translateY(-100%);

		}
	.event-list-top-nav .wrapperz:hover .event-name {
			-webkit-transform : translateY(180%);
			-moz-transform : translateY(180%);
			-o-transform : translateY(180%);
			transform : translateY(180%);
		}
	.wrap p.event-name {
		position: relative;
		width: 100%;
		bottom: 0;
		margin-top: 10%;
	
		font-weight:bold; 
		text-align: center;
		font-size: 4vh;
	}
/*.glyphicon
{
    display: inline-block;
    text-align: center;
     width:70px;
     line-height: 70px;
    background-color: rgba(205,201,201,0.5);
    font-size: 30px;
    position: relative;
     -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
    z-index: 2000;

}*/
/*article .glyphicon:hover {background-color:rgba(128,128,128,0.7); 
	cursor: pointer; 

    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 1000ms linear;
}*/
 .scrollarea span.two-dots {
		position: absolute;
		height: 10%;
		width: 2.223%;
		top: 80%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	.two-dots div {
		width: 1vh;
		height: 23.334%;
		border-radius: 50%;
		background: #000;
		margin-top: 90%;
	}

html{
		height: 100%;
	}
	body {
		background: url("images/background.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		height: 100%;
		overflow:hidden;

			}
	.hs::-webkit-scrollbar { 
    display: none; 
}
	header {
		width: 100%;
		height: 6%;	
		position: relative;

	}
	

	#menubar {
		position: absolute;
		left: 2%;
		top: 50%;
		cursor: pointer;
	}
/*	#menu {
		width: 140px;
		position: absolute;
		right: 2%;
		top: 40%;
		cursor: pointer;	
	}*/
	/*#search {
		float: left;
	}*/
	#user {
		float: right;
	}
	article {
		position: relative;
		width: 100%;
		height: 80%;	
	}
	#heading {
		margin-top: 2%;
		height: 45px;
		font-size: 8vh;
		text-align: center;
		line-height: 1;
		font-family: 'Orbitron', sans-serif;
	}

 	

	#event-list-top-nav {
		width: 95%;
		height: 10.117%;
		margin-left:5% ;
		margin-top: 2px;
		position: absolute;
		z-index:9999;

	}
.wrapper {
		float: left;
		position:relative;
		overflow: hidden;
	}
	.wrapper img {
		width: 100%;
		height: 100%;
		left: 0;
		opacity: 1;
		top: 0;
		position: absolute;
	}
	.slider {
		width: 100%;
		height: 100%;
		background: #000080	;
		opacity: 0.7;
		position: absolute;
		-webkit-transition : -webkit-transform 0.3s ease-out;
		-moz-transition : -moz-transform 0.3s ease-out;
		-o-transition : -o-transform 0.3s ease-out;
		transition : transform 0.3s ease-out;
	}
	
	#event-list-top-nav .wrapper {
		width: 10.160%;
		height: 100%;
		cursor: pointer;
		border-top: 3.5px solid #000;
	}
	#event-list-top-nav .wrapper .event-name {
		width: 100%;
		color: white;
		position: absolute;
		text-align: center;
		top: 50%;
		font-weight: bold;
		font-size: 2vh;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition : -webkit-transform 0.3s ease-out;
		-moz-transition : -moz-transform 0.3s ease-out;
		-o-transition : -o-transform 0.3s ease-out;
		transition : transform 0.3s ease-out;
	}
	
/*.hs::-webkit-scrollbar 
{
   width: 10px;
   height: 5px;
}
.hs::-webkit-scrollbar-track 
{
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius:10px;
}
.hs::-webkit-scrollbar-thumb
{  
	
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
   background-color: rgba(96,113,238,1);
     -webkit-border-radius: 10px;
    
}


.hs{
	
overflow:scroll;
overflow-y:hidden;
z-index:800;
position: relative;
height: 93%;
}
*/


#mid-nav {
		width: 314.931%;
		height: 60.11%;
		left: 30%;
		top: 40%;
		z-index:300;
		position:absolute;
		}
#mid-nav .wrapper {
		width: 10.983%;
		height: 100%;
	}
	#mid-nav .wrapper img {
		height: 75%;
		cursor: pointer;
		opacity: 1;
	}
	 #mid-nav .wrapper .slider {
	 	top:-10%;
		height: 85%;
		cursor: pointer;
	}
	#mid-nav .wrapper .two-dots {
		position: absolute;
		height: 10%;
		width: 2.223%;
		top: 77%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	.two-dots div {
		width: 1vh;
		height: 23.334%;
		border-radius: 50%;
		background: #000;
		margin-top: 50%;
	}
	#mid-nav .wrapper .event-name {
		position: absolute;
		width: 100%;
		bottom: 0;
		top: 85%;
		font-weight:bold; 
		text-align: center;
		font-size: 4vh;
	}
	.clear {
		clear: both;
	}
	#event-list-top-nav .wrapper:hover .slider {
			-webkit-transform : translateY(-100%);
			-moz-transform : translateY(-100%);
			-o-transform : translateY(-100%);
			transform : translateY(-100%);
		}
	#event-list-top-nav .wrapper:hover .event-name {
			-webkit-transform : translateY(140%);
			-moz-transform : translateY(140%);
			-o-transform : translateY(140%);
			transform : translateY(140%);
		}
	#mid-nav .wrapper:hover .slider {
			-webkit-transform : translateY(110%);
			-moz-transform : translateY(110%);
			-o-transform : translateY(110%);
			transform : translateY(110%);
		}
		/*#mid-nav .wrapper img {
	opacity: 0.8;
	filter: alpha(opacity=70);
	}	
	
#mid-nav .wrapper img:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	}*/
	
	section {
		position: absolute;
		width: 53.805%;
		height: 59.881%;
		top: 11.5%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
		z-index: -1;
	}
	#hand-left, #hand-right {
		position: absolute;
		width: 14.286%;
		height: 31.25%;
		top: 20%;
	}
	#hand-left {
		left: 0px;
	}
	#hand-right {
		right: 0px;
	}
	#robot-body {
		position: absolute;
		width: 50%;
		height: 100%;
		top:8%;
		left: 50%;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	#scroll {
		position: absolute;
		z-index: 800;
		left:50%;
		top: 108%;
		font-size: 3vh;
		-webkit-transform: translate(-50%);
		-moz-transform: translate(-50%);
		-o-transform: translate(-50%);
		transform: translate(-50%);
	}
	footer {
		width: 100%;
		height: 11%;
		position: relative;
		
	}
	#social {
		width: 140px;
		position: absolute;
		left: 2%;
		top: 60%;
	}
	.logo {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		float: left;
		margin-right: 5px;
	}
	.logo img {
		width: 20px;
		height: 20px;
		margin: 5px;
		cursor: pointer;
	}
	#facebook {
		background: #5473a3;
	}
	#twitter {
		background: #56acef;
	}
	#youtube {
		background: #e52d27;
	}
	#linkedin {
		background: #4875B4;
	}
	#other-links {
		position: absolute;
		right: 2%;
		top:30%;
	}
	#saarang, #iitm, #iso {
		float: left;
		margin-left: 10px;
        
		cursor: pointer;
	}
	#saarang {
		margin-top: 2%;
		background: #000;
		
	}
	#iitm, #iitm img, #iso, #iso img {
		width: 10vh;
		height: 8vh;
	}
	#iso {
		border-radius: 50%;
		background: #000;
	}
	


	@media all and (max-width: 767px){
	#other-links {
	display: none;
				}
	}
	@media all and (max-width: 958px){
	#iitm, #iitm img, #iso, #iso img {
		display: none;}
		
	}
	@media all and (max-width: 600px){
	#event-list-top-nav,hr,#scroll,#robot-body,#hand-left ,#hand-right {
			display: none;
		}
	#heading{
			margin-top:5%;
		}
	#mid-nav{
			width:400vh;
			top: 20%;
			}
		}

	
