@font-face {
  font-family: 'Proxima';
  src: url('../styles/fonts/ProximaNovaRegular.otf') format("opentype");
}
@font-face {
  font-family: 'Feather';
  src: url('../styles/fonts/Feather.ttf') format("truetype");
}
@font-face {
  font-family: 'MyraidPro';
  src: url('../styles/fonts/MyriadProRegular.otf') format("opentype");
}

::-webkit-scrollbar {
    width: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffffff; 
}
.event-category {
  z-index: 1;
  margin: 3% 0;
}

.category-image {
  width: 100%;
  height: auto;
  /*height: 500px;*/
}

.category-wrapper {
  text-align: center;
  position: relative;
  padding: 0;
}

#scroll-down {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  top: 85%;
  left: 48%;
  background-color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
}

#scroll-glyphicon {
  color: #000;
  cursor: pointer;
  min-height: 50px;
  line-height: 50px;
}

#event-category-name {
  height: 70px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 70px;
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  font-family: 'Feather';
  font-variant: small-caps;
  letter-spacing: 2px;	
}

#event-name {
  font-size: 2em;
  font-family: 'Feather';
  font-variant: small-caps;
  color: #fff;
  letter-spacing: 2px;
}

#event-date {
  font-size: 2em;
  font-family: 'Feather';
  font-variant: small-caps;
  color: #fff;
  letter-spacing: 2px;
}

.events {
  padding: 3px;
}

.events-box {
  padding-bottom: 5%;
}

.event-details {
  color: #fff;
  background-color: #173e43;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-left: 15px;
}

.card {
  height: 250px;
  width: 100%;
  perspective:600;
  color: #fff;
  overflow: hidden;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  backface-visibility: hidden;
}

.card-front {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card:hover .card-back {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.card-back {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
  width: 100%;
  color: #fff;
}


/*Code ends for zoom in animation */

/* remove spacing between middle columns */
.row.no-gutter [class*='col-'] {
  padding-right:3px;
  padding-left:3px;
}
/* remove right padding from first column */

.card .card-front {
  position: absolute;
}

.event-more-button {
  position: absolute;
  font-size: 1.2em;
  font-variant: small-caps;
  width: 30%;
  height: 17%;
  bottom: 5px;
  right: 5px;
  border-style: solid;
  border-color: #fff;
  background-color: #5E610B;
  color: #fff;
}

@media all and (max-width: 767px) {
  #scroll-down {
    top: 75%;
    left: 47%;
  }
}