a {
	outline: 0;
}
a:hover, a:active, a:focus {
	outline: 0;
}

/*Changing the default plugin value! Beware!!*/
.flip-clock-label {
	font-size: 2em;
}
#home-countdown-div {
	position: absolute;
	top: 12%;
	left: -18%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}

#blinkDiv{
	position: absolute;
	top: 80%;
	left: 2%;
	-webkit-animation: blinkAnim 2s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation: blinkAnim 2s infinite;
	-moz-animation-timing-function: linear;
	-o-animation: blinkAnim 2s infinite;
	-o-animation-timing-function: linear;
	animation: blinkAnim 2s infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes blinkAnim {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-moz-keyframes blinkAnim {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-o-keyframes blinkAnim {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes blinkAnim {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

#home-scroll-down {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  left: 90%;
  top: 70%;
  background-color: #173e43;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}
#home-scroll-glyphicon {
  color: white;
  cursor: pointer;
  min-height: 50px;
  line-height: 50px;
  -webkit-animation: slideDown 1s linear infinite;
  -moz-animation: slideDown 1s linear infinite;
  -o-animation: slideDown 1s linear infinite;
  animation: slideDown 1s linear infinite;  
}

.home {
	padding: 0;
	width: 100%;
}

#bgstyle {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}         

#bgimg { 
	width: 100%;
	height: 100%;
}

/* CSS for new home page starts */
#hex-div {
	z-index: 230;
}
.top-nav-container {
	position: fixed;
	background-color: #173e43;
	width: 100%;
	z-index: 250;
	font-family: 'MyraidPro';
	font-size: 1.1em;
	/*-webkit-box-shadow: 0px 5px 5px -1px #888;*/
	/*-moz-box-shadow: 0px 5px 5px -1px #888;*/
	/*box-shadow: 0px 5px 5px -1px #888;*/
}
/*.home-top-nav {
	font-weight: bolder;
	font-size: 1.1em;
	padding-left: 3%;
	text-align: center;
	height: auto !important;
}
.home-top-nav li > a {
	padding: 0;
}
*/
#top-hex{
	z-index: 3;
}
#middle-hex{
	z-index: 2;
}
#bottom-hex{
	z-index: 1;
}

#shaastra-info{
	background-color: #173e43;
	width: 100%;
	height: 5%;
	padding-left: 10%;
	padding-bottom: 2%;
	padding-top: 2%;
	margin-top: 1%;
	font-family: 'Feather';
	letter-spacing: 2px;
}
#info-title{
	font-size: 3em;
	margin-bottom: 0px;
	font-weight: bolder;
}
#info-desc{
	font-size: 2em;
	margin-top: 0px;
}
#makers-title{
	font-weight: bolder;
	font-size: 3em;
	font-family: 'Feather';
	letter-spacing: 2px;
}
#makers-desc{
	font-size: 1.5em;
	font-weight: 600;
	font-family: 'Proxima';
}
.homepage-makers-tab-desc {
	font-size: 1.3em;
	font-weight: 600;
	text-align: justify;
	font-family: 'Proxima';
}
.homepage-makers-tab-title {
	font-size: 2.5em;
	font-weight: bolder;
	font-family: 'Feather';
	text-align: justify;
	letter-spacing: 2px;
}
#makers-footer{
	color: black;
	font-weight: bolder;
	font-family: 'Feather';
	letter-spacing: 2px;
	font-size: 2.5em;
}
@keyframes hex-animation {
  from {
	  -webkit-transform:rotate(0deg);
	  -moz-transform:rotate(0deg);
	  -ms-transform:rotate(0deg);
	  -o-transform:rotate(0deg);
	  transform:rotate(0deg);
  }
  to {
	  -webkit-transform:rotate(360deg);
	  -moz-transform:rotate(360deg);
	  -ms-transform:rotate(360deg);
	  -o-transform:rotate(360deg);
	  transform:rotate(360deg);
  }
}
@keyframes hex-initial-animation {
  from {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);   
    -moz-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);   
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/*.nav-bar{
	width: 100%;
}
.nav-item > a{
	color: #fff;
}
.nav-item > p {
	color: #fff;
}
.nav-item > a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
.nav-item {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 0;
	padding-right: 0;
}
.nav-item:hover {
	cursor: pointer;
}
.nav-item:hover a {
	color: #e1e1e1;
}
*/
.hexagons-container{
	height: 450px;
	width: 100%;
	display: flex;
	margin-top: 9%;
}
.homepage-sponsTab {
	width: 50%;
	margin: 0 auto;
} 
.clip-svg{
	width: 0;
	height: 0;
}
.polygon-each-img-wrap > img{
	max-width: 100%;
	height: 400px;
	width: 400px;
}
.polygon-clip-hexagon {
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.polygon-each-img-wrap{
	width: 350px;
	height: 400px;
	position: absolute;
	margin-left: 500px;
	text-align: center;
	visibility: hidden;
}
.hex-initial-anim
{
	-webkit-animation-duration: 400ms;
	-webkit-animation-timing-function: linear;
  -webkit-animation-name:"hex-initial-animation";
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: linear;
  -moz-animation-name:"hex-initial-animation";
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-name:"hex-initial-animation";
}
.middle-hex-anim{
	-webkit-animation-duration: 25s;
	-webkit-animation-name:"hex-animation";
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0s;
	-webkit-animation-direction: reverse;
	-moz-animation-duration: 25s;
	-moz-animation-name:"hex-animation";
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-delay: 0s;
	-moz-animation-direction: reverse;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-name:"hex-animation";
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-direction: reverse;
}
.bottom-hex-anim{
	-webkit-animation-duration: 25s;
	-webkit-animation-name:"hex-animation";
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: normal;
	-moz-animation-duration: 25s;
	-moz-animation-name:"hex-animation";
	-moz-animation-iteration-count: infinite;
	-moz-animation-delay: 0s;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: normal;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-name:"hex-animation";
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-direction: normal;
}
.bottom-links{
	background-color: #252839;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 35%;
	width: 100%;
	text-align: left;
}
.link{
	/*margin-top: 1%;*/
	/*margin-bottom: 1%;*/
	font-size: 1.2em;
	font-family: 'Proxima'; 
	color: #fff;
}
.link-heading {
	font-size: 1.3em;
	font-weight: bolder;
	text-transform: uppercase; 
	font-family: 'MyraidPro';
}
.main-images{
	height: 100%;
	width: 100%;
	text-align: center;
}
.homepage-main{
	color: #171717;
	background-color: #f3f3f3;
	z-index: 0;
}
.main-center {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%; 
}
.homepage-makers-tab {
	padding-top: 5%;
	padding-bottom: 5%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.separator{
	height: 3px;
	width: 100%;
	color: #000;
	background-color: #000;
}
.info-text{
	color: #fff;
}
.dept-div{
	background-color: #014864;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: white;
	font-weight: bolder;
	padding-left: 23%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.hex-images-div {
	position: absolute;
	left: 32%;
}

.home-top-nav-new {
	font-weight: bolder;
	font-size: 1.1em;
	padding-left: 3%;
	text-align: center;
	height: auto !important;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	/*cross browser*/
/*	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-align-content: space-around;
	-ms-flex-line-pack: distribute;
*/}
.home-top-nav-new li > a {
	padding: 0;
}
.nav-bar-new {
	width: 100%;
}
.nav-item-new > a, .user-icon {
	color: #fff;
}
.nav-item-new > p {
	color: #fff;
}
.nav-item-new > a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
.nav-item-new {
	padding-left: 0;
	padding-right: 0;
}
.nav-item-new:hover {
	cursor: pointer;
}
#userSelect {
	font-size: 1.2em;
	padding: 10px;
}
.nav-item-new:hover a {
	color: #e1e1e1;
}
.nav-item-new:hover .user-icon {
	color: #e1e1e1;
}

.footer-no-padding {
	padding: 0;
}
.footer-div{
	background-color: #014864;
	height: auto !important;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	position: static;

	margin: 0;

	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}
.footer-nav{
	width: 100%;
	height: 100%;
	font-family: 'MyraidPro';
	font-size: 1.1em;
	height: auto !important;
}
.footer-nav-item > a{
	color: #fff;
	font-size: 1.1em;
}
.footer-nav-item:hover {
	cursor: pointer;
}
.footer-nav-item:hover a {
	color: #e1e1e1;
}
.bottom-links a:hover {
	color: #fff;
}
.bottom-links a {
	font-size: 1.2em;
}
.bottom-links p {
	margin-top: 10%;
	margin-bottom: 3%;
}

@media screen and (max-width: 950px) {
	#blinkDiv {
		position: static;
	}
  .home-top-nav-new {
  	padding-left: 7% 
	}
	#hex-div {
		margin-left: 0%;
	}
	.hexagons-container {
		margin-top: 16%;
	}
  .hex-images-div {
  	left: 20%;
  }
}
@media screen and (max-width: 800px) {
	#home-countdown-div {
		display: none;
	}
}
@media screen and (max-width: 650px) {
  .home-top-nav-new {
    display: none;
  }
	.hexagons-container {
		margin-top: 10%;
	}
  .hex-images-div {
  	left: 10%;
  }
  #bar1 {
  	background-color: black;
  }
  #bar2 {
  	background-color: black;
  }
  #bar3 {
  	background-color: black;
  }
  #bar4 {
  	background-color: black;
  }
} 
@media screen and (max-width: 500px) {
  .hex-images-div {
  	left: 2%;
  }
	#home-scroll-down {
		top: 65%;
		left: 85%;
	}
}
/* CSS for new home page ends */