.samparks-ul {
  list-style-type: disc;
	font-size: 1.5em;
	font-weight: normal;
}
.samparks-ul li {
	cursor: default;
}

#samparkDetails {
	margin-top: 0%;
}

.samparkContent {
	background-color: rgba(255, 255, 255, 0.6);
	min-height: 350px;
	padding: 50px 100px 50px 100px;
	text-align: justify;
	font-family: 'Proxima';
	margin-bottom: 5%;
	margin-top: 5%;
}
.samparkContent p {
	font-size: 1.5em;
	font-weight: normal;
}

.samparkHeading {
	font-family: 'Feather';
	font-size: 10vh;
	height: 45px;
	padding-bottom: 3%;
}

@media only screen and (max-width:767px) {
	#samparkDetails {
		margin-top: 5%;
	}
}