<!Doctype html>
<html ng-app="contactUsApp">
<head>
  <script src="..\bower_components\jquery\dist\jquery.min.js"></script>
  <script src="..\bower_components\angular\angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="..\bower_components\bootstrap\dist\js\bootstrap.min.js"></script>
  <script src="..\bower_components\ui-bootstrap\src\ui-bootstrap-tpls-0.13.1.js"></script>
  <link rel="stylesheet" href="..\bower_components\bootstrap\dist\css\bootstrap.min.css">
  <link rel="stylesheet" href="..\bower_components\font-awesome\css\font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="contact-us-styles.css">
  <title>Contact Us</title>
</head>
<body ng-controller="contactUsCtrl" ng-clock ng-init="initialize()">
	<div class="container-fluid">
		<h1 id="title">Contact Us</h1>
		<div class="container-fluid main">
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 wrapper">
				<ul class="rhombus-grid">
					<li class="rhombus" id="a" ng-repeat="department in departmentsJSON.departments" ng-click="displayModal(department)">
						<span ng-bind="department.name" class="rhombus-text"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row form-and-map">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<p><h3>Leave us a message</h3></p>
			<div id="contact-form">
				<form class="form-group" role="form" novalidate>
				<div id="name" class="has-feedback">
						<span class="form-control-feedback glyphicon glyphicon-user input-icon"></span>
						<input type="text" class="form-control" placeholder="Name"/>
				</div>
				<div id="email" class="has-feedback">
					<span class="form-control-feedback glyphicon glyphicon-envelope input-icon"></span>
					<input type="text" class="form-control" placeholder="Email"/>
				</div>
				<div id="mobile" class="has-feedback">
					<span class="form-control-feedback glyphicon glyphicon-phone input-icon"></span>
					<input type="text" class="form-control" placeholder="Mobile (optional)"/>
				</div>
				<div id="message">
					<textarea rows="10" class="form-control" placeholder="Your message..."></textarea>
				</div>
				<button id="contact-submit-btn" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div id="map"></div>
		</div>
		</div>
		</div>
	</div>
	<div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()">&times;</button>
				<h2 class="modal-title wrapper" ng-bind="department.name"></h2> 
			</div>
			<div class="modal-body">
				<ul class="contact-modal-contents row">
					<li ng-repeat="contact in department.contacts">
						<ul class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 wrapper">
							<li>
								<h4><span ng-bind="contact.personName"></span></h4>
							</li>
							<li>
								<p>
									<span class="glyphicon glyphicon-phone"></span>
									<span><strong>Contact : </strong></span>
									<span ng-bind="contact.phone" id="contactPhone"></span>
								</p>
							</li>
							<li>
								<p>
									<span class="glyphicon glyphicon-envelope"></span>
									<span><strong>E-Mail : </strong></span>
									<span ng-bind="contact.mail" id="contactMail"></span>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="close" ng-click="close()">Close</button>
			</div>
		</script>
	</div>
	<script type="text/javascript" src="contact-us-script.js"></script>
</body>
</html>