body{
	overflow-x: hidden;
  overflow-y: scroll; 
  background: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.wrapper{
  text-align: center;
}
#scroll-down{
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 20%;
  background-color: #6E6E6E;
  border-color: #000;
  border-style: solid;
  text-align: center;
}
#scroll-glyphicon{
  color: #000;
  margin-top: 15px;
  cursor: pointer;
}
#event-category-name{
  height: 70px;
  width: 101%;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 70px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4em;
  font-family: Verdana, Geneva, sans-serif;
  font-variant: small-caps;	
}
#event-category-image{
  width:450px;
  height:450px;
}
#event-name{
  font-size: 1.7em;
  font-family: Verdana, Geneva, sans-serif;
  font-variant: small-caps;
  color: #fff;
  padding-left: 15px;
}
#event-date{
  font-size: 1.7em;
  font-family: Verdana, Geneva, sans-serif;
  font-variant: small-caps;
  color: #fff;
  padding-left: 15px;
}
.min{
  position: fixed;
  top: 0;
  z-index: 10;
}
.events{
  margin-top: 45px;
  margin-bottom: 45px;
  padding-left: 35px;
  padding-right: 35px;
}
.row{
  height: 250px;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.event-details{
  color: #fff;
  background-color: #2E64FE;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.card{
  height:250px;
  perspective:600;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transition:all 0.5s ease-in-out;
  width:100%;
}
.card:hover{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.card .card-front{
  backface-visibility:hidden;
  height:100%;
  width: 100%;
}
.card .card-back{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  color:#fff;
}
.card-back{
  height: 100%;
  width: 100%;
}
.event-card-container{
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
}
.card .card-front{
  position: absolute;
}
.event-more-button{
  position: absolute;
  font-size: 1.2em;
  font-variant: small-caps;
  width: 30%;
  height: 17%;
  bottom: 5px;
  right: 5px;
  border-style: solid;
  border-color: #fff;
  background-color: #5E610B;
  color: #fff;
}
body::-webkit-scrollbar {
  width: 0.45em;
}
 
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid #fff;
}
