<!Doctype html>
<html ng-app="eventsVerticalApp">
<head>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="events-vertical-styles.css">
  <title>Events</title>
</head>
<body ng-controller="eventsVerticalCtrl">
  <div class="container-fluid">
    <div class="top-bar">
		</div>
		<div class="main">
	  	<div id="main-image">
	    	<div class="wrapper">
		  		<img id="event-category-image" ng-src="{{eventsJSON.eventCategoryImage}}" alt="{{eventsJSON.eventCategoryName}}">
				</div>
	  	</div>
	  	<div id="scroll-down">
		  	<a ng-click="scrollDown('event-category-name')"><span class="glyphicon glyphicon-chevron-down" id="scroll-glyphicon"></span></a>
	  	</div>
	  	<div id="event-category-name">
				<span id="event-category-name">{{eventsJSON.eventCategoryName}}</span>
   	  </div>
	  	<div class="container-fluid events">
				<div class="row" ng-repeat="eventRow in eventsJSON.eventsRows">
	  	 		<div class="col-md-4 event-card-container" ng-repeat="event in eventRow.row">
						<div class="card">
		  	  		<div class="card-front">
			    			<div class="event-details"> 
				  				<span id="event-name">{{event.name}}</span>
				  				<br><br>
				  				<span id="event-date">{{event.date}}</span>
								</div>
			  			</div>
			  			<div class="card-back">
			    			<div class="event-details" ng-style="{'background-image': 'url({{event.imageURL}})','background-color': '#5E610B'}">
				  				<span id="event-name">{{event.name}}</span>
				  				<br><br>
				  				<span id="event-date">{{event.date}}</span>
								</div>
				  			<a href="{{event.eventURL}}">
									<button class="event-more-button">See More</button>
				  			</a>
			  			</div>
						</div>
		  		</div>
				</div>
	  	</div>
		</div>
  </div>
<script type="text/javascript" src="events-vertical-script.js"></script>
</body>
</html>
