.title {
	font-family: 'bebas-neue-font';
	padding: 1%;
	color: black;
	font-size: 3.5em;
}

.sub-title {
	font-family: 'myriad-pro-font';
	font-weight: bold;
	color: black;
}

.sub-title-two {
	font-family: 'myriad-pro-font';
	font-weight: bold;
	color: #8BBE48;
}

.sub-title-three {
	font-family: 'myriad-pro-font';
	font-weight: bold;
	color: #EBFE4D;
}

.sub-title-four {
	font-family: 'myriad-pro-font';
	font-weight: bold;
	color: black;
}

.content {
	font-family: 'myriad-pro-font';
	font-size: 1.1em;
	color: black;
}
.right-column{
	position:absolute;
	height:100%;
	background-color:white;
	z-index:100;
}