<div>
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>About Us</b></div>
	</div>

  <div id="aboutUs" class="container-fluid makeCenter">
	  <article>
	  	<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div class="row">
	      	<h3><b><span class="shaastraText">Shaastra</span> is the annual technical festival of Indian Institute of Technology Madras, Chennai, India and the first ISO certified festival of its kind.</b></h3>
		    </div>
		    <div class="row">
	      	<h3><b>Shaastra returns in its 17<sup>th</sup> edition, bringing with it an experience of innovation, competition and learning that has become its hallmark over the years.</b></h3>
		    </div>
		    <div class="row">
	      	<h3><b>Mark the four days from January 3rd to January 6th, 2015 on your calendars, as Shaastra will keep you engrossed in a plethora of professional shows, competitions and lectures that have something for everybody. With some of the sharpest minds of the nation converging under one banner, one can expect to go back inspired.</b></h3>
		    </div>
		    <div class="row">
	      	<h3><b>The classic events of Shaastra shall return bigger and better and be joined by an injection of new exciting competitions. Envisage 4.0 will showcase several new acts crafted completely by students. With Airshow, Fire and Ice, Shaastra Junior Quiz, Robowars and several such competitions will both entertain and challenge the participants. One can also head back indoors to hear some of the pioneers of technology across the globe share their views on the latest happenings of the world. We shall also celebrate the contributions of Indian researchers across all branches of science by hosting the Research Expo, giving students a stage to showcase their groundbreaking research.</b></h3>
		    </div>		    
		    
	  	</div>
	  </article>  
  </div>
  
</div>
