<div>
  <div class="container-fluid makeCenter">
	  <article>
			<div class="row aboutUsHeading"><b>About Us</b></div>
	  </article>
	</div>

  <div id="aboutUs" class="container-fluid makeCenter">
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div class="row">
	      	<h3><b><span class="shaastraText">Shaastra</span> is the annual technical festival of Indian Institute of Technology Madras, Chennai, India and the first ISO certified festival of its kind.</b></h3>
		    </div>
		    <div class="row">
	      	<h3><b>Shaastra returns in its 17<sup>th</sup> edition, bringing with it an experience of innovation, competition and learning that has become its hallmark over the years.</b></h3>
		    </div>
	  	</div>
	  </article>  
  </div>
  
</div>
