<div>
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>About Us</b></div>
	</div>

  <div id="aboutUs" class="container-fluid font-myraid">
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div class="row">
	      	<h3><b>Shaastra</b> is the annual technical festival of Indian Institute of Technology Madras, Chennai, India and the first ISO certified festival of its kind.</h3>
		    </div>
		    <div class="row">
	      	<h3>Shaastra returns in its 18<sup>th</sup> edition, bringing with it an experience of innovation, competition and learning that has become its hallmark over the years.</h3>
		    </div>
		    <div class="row">
	      	<h3>Mark the four days from January 2<sup>nd</sup> to January 5<sup>th</sup>, 2016 on your calendars, as Shaastra will keep you engrossed in a plethora of professional shows, competitions and lectures that have something for everybody. With some of the sharpest minds of the nation converging under one banner, one can expect to go back inspired.</h3>
		    </div>
		    <div class="row">
	      	<h3>The classic events of Shaastra shall return bigger and better and be joined by an injection of new exciting competitions. Envisage ​5​.0 will showcase several new acts crafted completely by students.​ Hand in hand, a group of international techno-artists will perform acts that are seldom seen in India and will surely leave you in awe.​ ​Robowars, Hackathon, Aeromodelling and several such competitions will both entertain and challenge the participants. One can also head back indoors to hear some of the pioneers of technology across the globe share their views on the latest happenings of the world. We shall also celebrate the ​Makers Movement and its powerful message of creating at an individual level through the Makers Summit, giving students a stage to ​network, learn and work with the most creative and inspired minds from across the country over a period of 4 days​.</h3>
		    </div>		    
	  	</div>
	  </article>  
  </div>
  
</div>
