		<!-- <div class="container-fluid makeCenter">
		<h1 class="heading"><b>Contact Us</b></h1>
		<div class="main">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="contact-div row" ng-repeat="department in departmentsJSON.departments track by $index">
						<div class="contact-img-desc"><h2>{{ department.name }}</h2></div>
						<div ng-class="department.offset">
							<div class="act-div" ng-class="department.col" ng-repeat="contact in department.contacts track by $index">
								<img src="{{contact.image}}" ng-click="displayModal(department, $index)" alt="shaastra-team-member">
								<div class="contact-img-desc"><h4>{{ contact.personName }}</h4></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row form-and-map">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<p><h3>Leave us a message</h3></p>
					<div id="contact-form">
						<form class="form-group" role="form" novalidate>
						<div id="cname" class="has-feedback"> -->
								<!-- <span class="form-control-feedback glyphicon glyphicon-user input-icon hidden-xs hidden-sm"></span> -->
								<!-- <input type="text" class="form-control" placeholder="Name"/>
						</div>
						<div id="cemail" class="has-feedback"> -->
							<!-- <span class="form-control-feedback glyphicon glyphicon-envelope input-icon hidden-xs hidden-sm"></span> -->
							<!-- <input type="text" class="form-control" placeholder="Email"/>
						</div>
						<div id="cmobile" class="has-feedback"> -->
							<!-- <span class="form-control-feedback glyphicon glyphicon-phone input-icon hidden-xs hidden-sm"></span> -->
							<!-- <input type="text" class="form-control" placeholder="Mobile (optional)"/>
						</div>
						<div id="cmessage">
							<textarea rows="10" class="form-control" placeholder="Your message..."></textarea>
						</div>
						<button id="contact-submit-btn" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 small-devices-map" ng-init="init_map()">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
 -->
	<!-- <div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()">&times;</button>
				<h2 class="modal-title wrapper" ng-bind="department.name"></h2> 
			</div>
			<div class="modal-body">
				<ul class="contact-modal-contents row">
					<li>
						<ul class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 wrapper">
							<li>
								<h4><span ng-bind="department.selected.personName"></span></h4>
							</li>
							<li>
								<p>
									<span class="glyphicon glyphicon-phone"></span>
									<span><strong>Contact : </strong></span>
									<span ng-bind="department.selected.phone" id="contactPhone"></span>
								</p>
							</li>
							<li>
								<p>
									<span class="glyphicon glyphicon-envelope"></span>
									<span><strong>E-Mail : </strong></span>
									<span ng-bind="department.selected.mail" id="contactMail"></span>
								</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="close" ng-click="close()">Close</button>
			</div>
		</script>
	</div> -->
  
<div class="container-fluid makeCenter aboutUs-heading-top">
	<h1 class="heading"><b style="font-family:'Feather';">Contact Us</b></h1>
	<div class="contact-main">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="contact-div" ng-repeat="department in departmentsJSON.departments track by $index">
					<div class="contact-div col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="contact in department.contacts track by $index">
						<div class="contact-img-desc"><h4><b>{{ department.name }}</b></h4></div>
						<div>
							<img src="{{contact.image}}" ng-click="displayModal(department, $index)" alt="shaastra-team-member">
							<div class="contact-img-desc"><h4>{{ contact.personName }}</h4></div>
						</div>
					</div>
				</div>
			</div>

			<div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 map form-and-map">
				<div class="row small-devices-map" ng-init="init_map()">
					<div id="map"></div>
				</div>
				<div class="row">
					<p><h1 style="font-family:'Feather';">Leave us a message</h1></p>
					<div id="contact-form">
						<form class="form-group" role="form" novalidate>
							<div id="cname" class="has-feedback">
								<!-- <span class="form-control-feedback glyphicon glyphicon-user input-icon hidden-xs hidden-sm"></span> -->
								<input type="text" class="form-control" placeholder="Name"/>
							</div>
							<br>
							<div id="cemail" class="has-feedback">
								<!-- <span class="form-control-feedback glyphicon glyphicon-envelope input-icon hidden-xs hidden-sm"></span> -->
								<input type="text" class="form-control" placeholder="Email"/>
							</div>
							<br>
							<div id="cmobile" class="has-feedback">
								<!-- <span class="form-control-feedback glyphicon glyphicon-phone input-icon hidden-xs hidden-sm"></span> -->
								<input type="text" class="form-control" placeholder="Mobile (optional)"/>
							</div>
							<br>
							<div id="cmessage">
								<textarea rows="10" class="form-control" placeholder="Your message..."></textarea>
							</div>
							<br>
							<button id="contact-submit-btn" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-header">
				<button type="button" class="close" ng-click="close()">&times;</button>
				<h1 class="modal-title wrapper" ng-bind="department.name"></h1> 
			</div>
			<div class="modal-body">
				<ul class="contact-modal-contents row">
					<li>
						<ul class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 wrapper">
							<li>
								<h3><span ng-bind="department.selected.personName"></span></h3>
							</li>
							<li>
								<h4>
									<span class="glyphicon glyphicon-phone"></span>
									<span><strong>Contact : </strong></span>
									<span ng-bind="department.selected.phone" id="contactPhone"></span>
								</h4>
							</li>
							<li>
								<h4>
									<span class="glyphicon glyphicon-envelope"></span>
									<span><strong>E-Mail : </strong></span>
									<span ng-bind="department.selected.mail" id="contactMail"></span>
								</h4>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="close" ng-click="close()">Close</button>
			</div>
		</script>
	</div>
</div>

<div ng-include="'views/sticky-footer.html'"></div>
