<div id="row" ng-controller="dashboardCtrl as dashboard" class="topdiv" >
	<div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
		<div class="form-group ">
			
  	<label for="sel1"><div class="panel-heading" id="hding">Events Registered</div></label>
  	<md-chips-select ng-model="myItems" select-items="events.eventsList" main-title="eventName"></md-chips-select>
    </div>
	</div>

	

<!-- ////////////////////////////////////////////////// -->

<div class="col-md-5 col-sm-4 col-md-offset-2 col-sm-offset-2">
		<div ng-repeat="item in myItems">
				<div class="panel panel-default fonts" style="">
					<span style="margin-left:3%">{{item.teamname}}</span></div>
				<div class="panel-body">
					Event : {{item.eventName}}
					<div>
					Team  : <ul style="margin-left:14%"><li ng-repeat="teammate in item.teammembers">{{teammate}}</li></ul>
				</div>
				</div>
				<button id="contact-submit-btn" class="btn btn-primary">Add Member</button>
		</div>
	</div>

	<!-- ///////////////////////////////////////////////////////////// -->
	
<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" id="recommend">
	<div class="panel-heading"><b>Recommended Events</b></div>
</div>
	<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1" id="scroll">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	<img src="images/aerofest.png" style="height:100%;width:20%">
	
	
</div>
</div>