<!-- <!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>ng-scrollable</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="../min/ng-scrollable.min.css" rel="stylesheet">
        <link href=""
        <link href='http://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" type="text/css" href="styles.css">
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="../src/ng-scrollable.js"></script>
        <script src="demo.js"></script>
    
    </head> -->
<!--     <body  > -->
       <div id="heading">Events</div>
       <br>
       <div  class="event-list-top-nav">
       <div class="wrap1">
           
        <div class="wrapperz" >
 <div class="slider">
				</div>
            <img  src="images/aerofest.png"/>
           
		  <p class="event-name">Aerofest 
            </p></div>
         <div class="wrapperz">
          <div class="slider">
				</div>
            <img src="images/bevents.png" />
             <p class="event-name">B-events</p> 
            
				
        </div>
         <div class="wrapperz">

          <div class="slider">
				</div>
            <img src="images/coding.png" />
             <p class="event-name">Coding</p> 
        </div>
         <div class="wrapperz">
          <div class="slider">
				</div>
            <img src="images/design and build.png" />
            <p class="event-name">Design And Build</p>
        </div>
         <div class="wrapperz">
          <div class="slider">
				</div>
            <img src="images/aerofest.png" />
             <p class="event-name">Department Flagship</p>
        </div>
         <div class="wrapperz">
          <div class="slider">
				</div>
            <img src="images/aerofest.png" />
             <p class="event-name">Electronic Fest</p>
        </div>
         <div class="wrapperz">
          <div class="slider">
				</div>
            <img src="images/aerofest.png" />
             <p class="event-name">Involve</p>
        </div>
         <div class="wrapperz">
          <div class="slider">
				</div>
            <img src="images/aerofest.png" />
             <p class="event-name">Quizzing</p>
        </div>
        <div class="wrapperz">
         <div class="slider">
				</div>
            <img src="images/aerofest.png" />
             <p class="event-name">Spotlight</p>
        </div>

    
        </div></div>
       <article ng-controller="eventListCtrl"> 
                        <div ng-scrollable="{scrollX:'top',scrollY:'none'}" class="scrollarea"  spy-x="posX" spy-y="posY">
           <div class="wrap">
           
        <div class="wrapperz" >
            <img src="images/aerofest.png"/>
            <span class="two-dots">
					<div></div>
					<div></div></span>
					<p class="event-name">Aerofest</p> 
            </div>
         <div class="wrapperz">
            <img src="images/bevents.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					 <p class="event-name">B-events</p> 
					
        </div>
         <div class="wrapperz">
            <img src="images/coding.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					
					 <p class="event-name">Coding</p> 
            
        </div>
         <div class="wrapperz">
            <img src="images/design and build.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					 <p class="event-name">Design And Build</p>

        </div>
         <div class="wrapperz">
            <img src="images/aerofest.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					 <p class="event-name">Department Flagship</p>
        </div>
         <div class="wrapperz">
            <img src="images/aerofest.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					 <p class="event-name">Electronic Fest</p>
        </div>
         <div class="wrapperz">
            <img src="images/aerofest.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					 <p class="event-name">Involve</p>
        </div>
         <div class="wrapperz">
            <img src="images/aerofest.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					  <p class="event-name">Quizzing</p>
        </div>
        <div class="wrapperz">
            <img src="images/aerofest.png" />
             <span class="two-dots">
					<div></div>
					<div></div></span>
					 <p class="event-name">Spotlight</p>
        </div>

    
                      </div></div>
                        <span id="left-arrow"  class="glyphicon glyphicon-chevron-left" ng-click="moveX(-500);"></span>
                        <span  id="right-arrow" class="glyphicon glyphicon-chevron-right" ng-click="moveX(500)"></span>
                      
  </article>      
      
        
<!--     </body>
</html> -->
