<div class="event-category">
	<div ng-controller="eventsCategoryCtrl" scroll ng-clock>

	  <div class="container-fluid category">
	  	<div class="row">
	    	<div class="category-wrapper col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-ls-offset-1">
		  		<img class="img-responsive category-image" id="event-category-image" ng-src="http://0.0.0.0:8001/api/uploads/{{eventsJSON.imageid}}/{{eventsJSON.imagename}}">
				</div>
	  	</div>
	  	<div id="scroll-down" ng-click="scrollDown('event-category-name')">
		  	<span class="glyphicon glyphicon-chevron-down" id="scroll-glyphicon"></span>
	  	</div>
		</div>
		<div class="container-fluid">
			<div class="row">
	  		<div id="event-category-name" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
						<span ng-bind="eventsJSON.title"></span>
	   	  </div>
			</div>

			<div class="makeCenter" ng-if="!eventsJSON.events.length">
				<h1>Stay tuned for Updates!</h1>
			</div>

			<div class="row" ng-if="eventsJSON.events.length">
				<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 events-box">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 events" ng-repeat="event in eventsJSON.events track by $index">

					<div class="card">
	  	  		<div class="card-front">
		    			<div class="event-details"> 
			  				<span id="event-name" ng-bind="event.name"></span>
			  				<br><br>
			  				<span id="event-date" ng-bind="event.eventDate"></span>
							</div>
		  			</div>
		  			<div class="card-back">
		    			<div class="event-details" ng-style="{'background-image': 'url({{event.imageURL}})', 'background-color': '#5E610B'}">
							</div>
							<button ng-click="gotoEventDetails($index)" class="event-more-button">See More</button>
		  			</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>
