<update-title title="Forgot Password | Shaastra 2016"></update-title>
<update-meta property="og:title" content="Forgot Password | Shaastra 2016"></update-meta>
<update-meta property="og:url" content="{{url}}"></update-meta>

<div class="forgotPass-jumbotorn">
  <div class="container-fluid makeCenter">
    <div class="row aboutUsHeading"><b>Forgot Password</b></div>
  </div>
  <div id="forgotPass-div2" class="col-sm-offset-4 col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <form class="form" name="form" ng-submit="forgotPassword(form)" novalidate>

          <div class="form-group">
            <label>Please enter your email address</label>

            <input type="email" name="email" class="form-control" ng-model="resetEmail" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i" required>
          </div>

          <span class="help-block"> {{ message }} </span>

          <button class="btn btn-md btn-primary btndownl" type="submit">Request reset</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div ng-include="'views/sticky-footer.html'"></div>
