  <img id="lefthand" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()" src="images/handl.png" image-cache-directive/>
  
  <img src="images/robotbody.png" class="robo"/>
  <img id="righthand" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()" src="images/handr.png" image-cache-directive/>

  <div ng-if="showTooltip" class="invisiblebox1" tooltip> </div>
  <div ng-if="showTooltip" class="invisiblebox2" tooltip> </div>
  
  <div class="container home">

    <div class="small-screen-heading">SHAASTRA 2016</div>

    <div class="elemboxleft top-1" link="#/event-list">
      <p>Events</p>
<!-- 
      <svg class="svg-lines" width="60" height="10" xmlns="http://www.w3.org/2000/svg">
        <path class="path1" d="M40,0 l-40,0" />
        <path class="path2" d="M40,0 l40,0" />
      </svg>
 -->
    </div>

   <div class="elemboxright top-2" link="#/shows-and-exhibitions">
     <p>Shows and Exhibitions</p>
<!-- 
     <svg class="svg-lines" width="60" height="10" xmlns="http://www.w3.org/2000/svg">
        <path class="path1" d="M40,0 l-40,0" />
        <path class="path2" d="M40,0 l40,0" />
      </svg>
 -->
   </div>
  
    <div class="elemboxleft mid-1" link="#/workshop-list">
     <p>Workshops</p>
<!-- 
     <svg class="svg-lines" width="60" height="10" xmlns="http://www.w3.org/2000/svg">
        <path class="path1" d="M40,0 l-40,0" />
        <path class="path2" d="M40,0 l40,0" />
      </svg>
 -->
    </div>

    <div class="shaastrabox" link="#/about-us">
      <p class="text1">
        <span class="shaastra-blue">
          <b>iit madras</b>
        </span>presents
      </p>
      <img id="diceimage" class="dice" src="images/diceimage.png" image-cache-directive/>
      <span class="text2">
        SHAASTRA <span class="number">2016</span>
      </span>
      <div class="underline"> </div>
      <p class="text3">THE SPIRIT OF ENGINEERING</p>
    </div>
 
    <div class="elemboxright mid-2" link="#/international-summit">
      <p>International Summit</p>
<!-- 
      <svg class="svg-lines" width="60" height="10" xmlns="http://www.w3.org/2000/svg">
        <path class="path1" d="M40,0 l-40,0" />
        <path class="path2" d="M40,0 l40,0" />
      </svg>
 -->
    </div>

    <div class="elemboxleft botm-1" link="#/social">
      <p>Social Cause</p>
<!-- 
      <svg class="svg-lines" width="60" height="10" xmlns="http://www.w3.org/2000/svg">
        <path class="path1" d="M40,0 l-40,0" />
        <path class="path2" d="M40,0 l40,0" />
      </svg>
 -->
    </div>

    <div  class="elemboxright botm-2" link="#/pre-shaastra">
      <p>Pre-Shaastra Activities</p>
<!-- 
      <svg class="svg-lines" width="60" height="10" xmlns="http://www.w3.org/2000/svg">
        <path class="path1" d="M40,0 l-40,0" />
        <path class="path2" d="M40,0 l40,0" />
      </svg>
 -->
    </div>
  </div>  
