<div class="aboutUs-heading-top">
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>Hospitality at Shaastra</b></div>
	</div>
   <div id="aboutUs" class="container-fluid font-myraid">
  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
	    <div class="row hospi-content">
	    	<h3>Thanks for reaching out to Shaastra! We sincerely believe that a comfortable stay is instrumental in you gaining the most out of what Shaastra has to offer - be it the scintillating shows, amazing events or an incredible lecture series. Hence we extend our full cooperation in helping you book accommodation during an extended  tenure ( 1<sup>st</sup> January 2016 to 5<sup>th</sup> January 2016 )</h3>
	    	<h3>Please contact the Student Relations team through the following numbers for further details or queries - </h3>
				<h4><span class="midot"><b>&middot;</b></span> <b>M Aghamarshana </b>- 8122495355</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Charan V </b>- 9840898692</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Ramya Madhuri D</b> - 9884180556</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Bharath Chandran </b>- 9884184877</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>J Janu Sahana</b> - 9940244871</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Sumit Jiwane </b>- 9566097691</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>A P Shyam Sankar </b>- 9489798827</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Dhinesh N </b>- 9688727390</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>R Rathna Kumar</b> - 9677081113</h4>
	    </div>   
	    <div class="row makeCenter">
				<h2>Looking forward to see you during Shaastra!</h2>
	    </div>
  	</div>
  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
