<div class="aboutUs-heading-top">
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>Hospitality at Shaastra</b></div>
	</div>
   <div id="aboutUs" class="container-fluid font-myraid">
  
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div style="text-align: center;" class="row">
	      	<h1>Stay tuned for Updates!</h1>
		    </div>   
	  	</div>
	  </article>  
  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
