<update-title title="Hospitality | Shaastra 2016"></update-title>
<update-meta property="og:title" content="Hospitality | Shaastra 2016"></update-meta>
<update-meta property="og:url" content="{{url}}"></update-meta>
<update-meta property="og:description" content="Shaastra is the annual technical festival of Indian Institute of Technology Madras, Chennai, India and the first ISO certified festival of its kind to be held from January 23rd to 26th 2016"></update-meta>
<update-meta property="og:image" content="http://res.cloudinary.com/shaastra-org/image/upload/c_scale,h_200,w_250,f_auto/v1452365698/shaastra-2016/homepage/shaastra-top-hex.png"></update-meta>
<update-meta property="og:image:secure_url" content="https://res.cloudinary.com/shaastra-org/image/upload/c_scale,h_200,w_250,f_auto/v1452365698/shaastra-2016/homepage/shaastra-top-hex.png"></update-meta>

<div class="aboutUs-heading-top">
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>Hospitality at Shaastra</b></div>
	</div>
   <div id="aboutUs" class="container-fluid font-myraid">
  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
	    <div class="row hospi-content">
	    	<h3>Thanks for reaching out to Shaastra! We sincerely believe that a comfortable stay is instrumental in you gaining the most out of what Shaastra has to offer - be it the scintillating shows, amazing events or an incredible lecture series. Hence we extend our full cooperation in helping you book accommodation during an extended  tenure ( 23<sup>rd</sup> January 2016 to 26<sup>th</sup> January 2016 )</h3>
	    	<h3>Please contact the Student Relations team through the following numbers for further details or queries - </h3>
				<h4><span class="midot"><b>&middot;</b></span> <b>M Aghamarshana </b>- 8122495355</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>SR Srikar </b>- 9003112424</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Charan V </b>- 9840898692</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Ramya Madhuri D</b> - 9884180556</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Bharath Chandran </b>- 9884184877</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>J Janu Sahana</b> - 9940244871</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Sumit Jiwane </b>- 9566097691</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>A P Shyam Sankar </b>- 9489798827</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>Dhinesh N </b>- 9688727390</h4>
				<h4><span class="midot"><b>&middot;</b></span> <b>R Rathna Kumar</b> - 9677081113</h4>
	    </div>   
	    <div class="row makeCenter">
				<h2>Looking forward to see you during Shaastra!</h2>
	    </div>
  	</div>
  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
