<div>
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>International Summit</b></div>
	</div>

  <div id="aboutUs" class="container-fluid font-myraid">
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div class="row">
	      	<h3>The IIT Madras International Summit is Shaastra's most dynamic event till date. With a format that changes every year, the Summit has touched upon various topics of national relevance such as boosting agricultural output in the country and improving the healthcare scenario in remote villages. Last year, the Summit took an unprecedented step by hosting foreign nationals from 4 countries to participate in the event.</h3>
		    </div>
		    <div class="row">
	      	<h3>This year, the Shaastra Summit is planning to introduce a concept so simple and yet so innovative, that all the participants will start to look at things around them in a very different light. The Maker Movement is a worldwide phenomena in which students and professionals alike aspire to make things that educate people, help solve pain points and sometimes foster entrepreneurial journeys.</h3>
		    </div>
		    <div class="row">
	      	<h3>Presenting Shaastra's very own <b>Makers Summit</b> - a 4 day extravaganza in which students from different backgrounds - engineering, art and science, come together and "make" things on pre-defined umbrella themes. The Summit will comprise of talks by established Makers, exhibitions of many innovative ideas, workshops of new technologies and finally a competition for the best interdisciplinary design to promote the idea that <b><i>Everyone is a Maker</i></b>.</h3>
		    </div>
		    <div class="row">
	      	<h3>Want to learn how to 3D print? How about a hands-on session on the latest in wood working with CNC routers? Always wanted to 'make' something different which impacts society at large? Intrigued?</h3>
		    </div>		    
		    <div class="row">
	      	<h3>Welcome to the Makers Summit. <b>Registrations to open soon!</b> Stay tuned to this space </h3>
		    </div>		    
	  	</div>
	  </article>  
  </div>
  
</div>
