<center>
	<div>
		<div class="btn-group" role="group">
		  <a href="#/login" id="tab" type="button" class="btn btn-primary">Login</a>
		  <a href="#/register" id="tab" type="button" class="btn btn-default">Register</a>
		</div>

		</div>
		<div id= "username"class="input-group">
		  <span class="input-group-addon" id="sizing-addon2"><img src="images/human.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="text" ng-model="UserName" class="form-control" placeholder="User name or email or shaastra id" aria-describedby="sizing-addon2">

		<div id= "password"class="input-group">
		  <input type="text" ng-model="Password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
		</div></div>
		<br>

		<a id="btndownl" class="btn btn-md btn-primary">Login</a>
	</div>
</center>

<div ng-include="'views/sticky-footer.html'"></div>
