<div class="container-fluid category">
	<div class="row">
  	<div class="category-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
  		<img class="img-responsive category-image" id="event-category-image" ng-src="images/misc/maker-summit.jpg">
	  	<div id="scroll-down" ng-click="scrollDown('event-category-name')">
		  	<span class="glyphicon glyphicon-chevron-down" id="scroll-glyphicon"></span>
	  	</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div id="event-category-name" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span>Maker Summit</span>
 	  </div>
	</div>
</div>
  <div id="aboutUs" class="container-fluid font-myraid">
<!-- 
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div class="row">
	      	<h3>The IIT Madras International Summit is Shaastra's most dynamic event till date. With a format that changes every year, the Summit has touched upon various topics of national relevance such as boosting agricultural output in the country and improving the healthcare scenario in remote villages. Last year, the Summit took an unprecedented step by hosting foreign nationals from 4 countries to participate in the event.</h3>
		    </div>
		    <div class="row">
	      	<h3>This year, the Shaastra Summit is planning to introduce a concept so simple and yet so innovative, that all the participants will start to look at things around them in a very different light. The Maker Movement is a worldwide phenomena in which students and professionals alike aspire to make things that educate people, help solve pain points and sometimes foster entrepreneurial journeys.</h3>
		    </div>
		    <div class="row">
	      	<h3>Presenting Shaastra's very own <b>Makers Summit</b> - a 4 day extravaganza in which students from different backgrounds - engineering, art and science, come together and "make" things on pre-defined umbrella themes. The Summit will comprise of talks by established Makers, exhibitions of many innovative ideas, workshops of new technologies and finally a competition for the best interdisciplinary design to promote the idea that <b><i>Everyone is a Maker</i></b>.</h3>
		    </div>
		    <div class="row">
	      	<h3>Want to learn how to 3D print? How about a hands-on session on the latest in wood working with CNC routers? Always wanted to 'make' something different which impacts society at large? Intrigued?</h3>
		    </div>		    
		    <div class="row">
	      	<h3>Welcome to the Makers Summit. <b>Registrations to open soon!</b> Stay tuned to this space </h3>
		    </div>		    
	  	</div>
	  </article>   -->


		<div class="container-fluid" id="cf">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
					<div><br><br></div>
					
					<div class="evhead">
						<span>{{eve.name}}</span>
					</div>

					<div class="marquee" id="mark">	 	 
						<marquee id="markin" v-html="input | marked" ng-bind-html="marquee"></marquee>
					</div>

					<div class="row">
						<div class="col-xs-12 hidden-sm hidden-md hidden-lg" ng-repeat="x in makersTabs track by $index">
							<a event-nav-hyperlink href="" ng-click="info($index)">
								<div class="event-nav-xs" ng-click="changeTab($index)" ng-class="{'event-nav-selected':(tab === $index)}">
									{{x}}
								</div>
							</a>
						</div>
					</div>

					<div class="evcontent">
						<div class="row">
							<div class="hidden-xs"><br><br></div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div ng-if="tab===0" class="cont">
									<div class="row">
										Welcome to the IIT Madras Maker Summit 2016! The 4 day extravaganza from 2nd to 5th of Jan set to change your perceptions and broaden your horizons.
									</div><br>
									<div class="row">
									 	We, at the Summit, believe that <i>Anyone can be maker</i>. A computer hacker, origami artist, a storyteller, a designer, an arduino enthusiast, whoever you may be - <b>You. Are. A. Maker</b>. 
									</div><br>
									<div class="row">
									 	Witness a potpourri of events including  Lectures, a Panel Discussion,  unique Workshops and a Product Design Challenge.  Be a part of mentoring sessions with the experienced in the field, debate, discuss and innovate on any of the verticals – Transmedia Storytelling, Life Hacks and Social Technology. 
									</div><br>
									<div class="row">
									 	Network with like minded enthusiasts from different streams of education. Hear it from the experienced, learn it from the best.  We promise to offer you a great experience.
									</div><br>
									<div class="row">
									 	Mark your calendars and join us this January to be part of our Maker Summit!
									</div>
								</div>
								<div ng-if="tab===1" class="cont">
									<div class="row">
								    <b><p>Panel Discussion</p></b>
										<p>From Backyards to Makerspaces: The rise of the Maker Culture </p>
										<p>Lo behold  the world where ideas find fruition within hours. What made this possible? Listen to our diverse panel of speakers talk about the hot and trending in the Maker movement. The participants will have an exclusive opportunity to witness the confluence of some of the most experienced makers around the globe. Just be there! </p>
									</div><br>
									<div class="row">
										<b><p>Make-a-thon</p></b>
										<p>The most exciting part of Maker Summit 2016! Get ready to join hands with like-minded makers with different skill-sets.</p>
										<p>Participants will have 4 days to work in teams, to come up with something inspiring and creative. Basic workshop/ makerspace facilities and necessary resources shall be provided. The teams will also have access to mentoring sessions with experts in the field to guide them through the journey of ideating, designing and creating. <b>Exciting prizes</b> to be awarded to the winners. Stay tuned to our <a target="_blank" href="https://www.facebook.com/Shaastra/">FB page</a> to see the prizes that await you.</p>
									</div><br>
									<div class="row">
										<b><p>Hands-on Workshops</p></b>
										<p>Maker summit 2016 provides you an opportunity to get your hands dirty and acquire a unique set of skills, through our workshop sessions.</p>
										<p><span class="midot"><b>&middot;</b></span> <b>3D printing -</b> Have you ever wished your designs on a software came to life? Ever wanted to  be a part of the  Next Big Thing in the Maker movement?  Here’s the chance to learn this simple, exciting skill.</p>
										<p><span class="midot"><b>&middot;</b></span> <b>Laser Cutting -</b> How cool would it be to make your own Batrang or Minion from a steel plate! Learn to laser cut and engrave your designs on beautiful flat sheet materials.</p>
										<p><span class="midot"><b>&middot;</b></span> <b>Mozilla Maker Party -</b> Maker parties help you explore the web and make your own space on it. It's a celebration of making and learning on the web. As a part of this workshop, we will have associated hands-on activities like making models, brainstorming around it. Get ready to use tools like the Thimble and Webmaker!</p>
									</div>
								</div>
								<div ng-if="tab===2" class="cont">
									<div class="row">
										<b><p>Transmedia storytelling</p></b>
										<p>Get a chance to create immersive story worlds with multiple media platforms! This vertical would involve defining the story's purpose (could range from hygiene education for kids to creating a virtual pet) and taking it forward through storyboards and film editing. Build a prototype that could turn out to be next exciting thing in the world.</p>
									</div>
									<br>
									<div class="row">
										<b><p>Life Hacks</p></b>
										<p>Come up with simple yet effective solutions for day-to-day hitches. Developing a sensor based tap to save water, portable mobile phone chargers, intelligent personal assistant in cell phones that prevent accidents and what not. Look around. Is there something you can fix? Come over!</p>
									</div>
									<br>
									<div class="row">
										<b><p>Social Technology Projects</p></b>
										<p>Yes, there is a Pandora box of social problems. What can you do to help? Find inspiring uses to technology and sciences. Primary focus of this vertical will be assistive technology. Create something that benefits people around you, be it in terms of education, health, culture or quality of life.</p>
									</div>
								</div>
								<div ng-if="tab===3" class="cont">
									<div class="row">
										Stay tuned for further updates!
									</div>
								</div>
								<div ng-if="tab===4" class="cont">
									<div class="row">
										Stay tuned for further updates!
									</div>
								</div>
								<div ng-if="tab===5" class="cont">
									<div class="row">
										<b><p>Day 1</p></b>
										<p><span class="midot"><b>&middot;</b></span> Panel Discussion</p>
										<p><span class="midot"><b>&middot;</b></span> Ice breaking session</p>
										<p><span class="midot"><b>&middot;</b></span> Mentoring session 1</p>
									</div>
									<br>
									<div class="row">
										<b><p>Day 2</p></b>
										<p><span class="midot"><b>&middot;</b></span> Workshop sessions</p>
										<p><span class="midot"><b>&middot;</b></span> Mentoring Sessions 2</p>
										<p><span class="midot"><b>&middot;</b></span> Mozilla Maker Party</p>
									</div>
									<br>
									<div class="row">
										<b><p>Day 3</p></b>
										<p><span class="midot"><b>&middot;</b></span> Mentoring sessions 3</p>
										<p><span class="midot"><b>&middot;</b></span> Keynote Lecture</p>
									</div>
									<br>
									<div class="row">
										<b><p>Day 4</p></b>
										<p><span class="midot"><b>&middot;</b></span> Display of projects at Shaastra and announcement of the best projects</p>
									</div>
								</div>
								<div ng-if="tab===6" class="cont">
									<div class="row">
										<b>Vedant Agarwal</b> - vedantagr@shaastra.org
									</div>
									<br>
									<div class="row">
										<b>Ayesha</b> - ayesha@shaastra.org
									</div>
									<br>
									<div class="row">
										<b>Ramprashanth</b> - +91-8754443260
									</div>
									<br>
									<div class="row">
										<b>Gouri Ram</b> - +91-7708415998
									</div>
									<br>
									<div class="row">
										<b>Shruti Shivakumar</b> - +91-9791264935
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="!eve.eventTabs.length" class="makeCenter">
						<h1>{{ message }}</h1>
					</div>

				</div>
				
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4"></div>
						<div class="col-sm-8 col-md-8 col-lg-8">
							<div class="row">
								<br><br><br><br>
								<div class="row" id="event-nav-box" ng-repeat="x in makersTabs track by $index">
									<a event-nav-hyperlink href="" ng-click="info($index)">
										<div class="col-sm-12 col-md-12 col-lg-12 event-nav" ng-class="{'event-nav-selected':(tab === $index)}" ng-click="changeTab($index)">
											<span id="event-nav-span">{{x}}</span>
										</div>
									</a>
									<div class="col-sm-12 col-md-12 col-lg-12"><br></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
