<div class="container-fluid category">
	<div class="row">
  	<div class="category-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
  		<img class="img-responsive category-image" id="event-category-image" ng-src="images/misc/maker-summit.jpg">
	  	<div id="scroll-down" ng-click="scrollDown('event-category-name')">
		  	<span class="glyphicon glyphicon-chevron-down" id="scroll-glyphicon"></span>
	  	</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div id="event-category-name" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span>Maker Summit</span>
 	  </div>
	</div>
</div>
  <div id="aboutUs" class="container-fluid font-myraid">
<!-- 
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
		    <div class="row">
	      	<h3>The IIT Madras International Summit is Shaastra's most dynamic event till date. With a format that changes every year, the Summit has touched upon various topics of national relevance such as boosting agricultural output in the country and improving the healthcare scenario in remote villages. Last year, the Summit took an unprecedented step by hosting foreign nationals from 4 countries to participate in the event.</h3>
		    </div>
		    <div class="row">
	      	<h3>This year, the Shaastra Summit is planning to introduce a concept so simple and yet so innovative, that all the participants will start to look at things around them in a very different light. The Maker Movement is a worldwide phenomena in which students and professionals alike aspire to make things that educate people, help solve pain points and sometimes foster entrepreneurial journeys.</h3>
		    </div>
		    <div class="row">
	      	<h3>Presenting Shaastra's very own <b>Makers Summit</b> - a 4 day extravaganza in which students from different backgrounds - engineering, art and science, come together and "make" things on pre-defined umbrella themes. The Summit will comprise of talks by established Makers, exhibitions of many innovative ideas, workshops of new technologies and finally a competition for the best interdisciplinary design to promote the idea that <b><i>Everyone is a Maker</i></b>.</h3>
		    </div>
		    <div class="row">
	      	<h3>Want to learn how to 3D print? How about a hands-on session on the latest in wood working with CNC routers? Always wanted to 'make' something different which impacts society at large? Intrigued?</h3>
		    </div>		    
		    <div class="row">
	      	<h3>Welcome to the Makers Summit. <b>Registrations to open soon!</b> Stay tuned to this space </h3>
		    </div>		    
	  	</div>
	  </article>   -->


		<div class="container-fluid" id="cf">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
					<div><br><br></div>
					
					<div class="evhead">
						<span>{{eve.name}}</span>
					</div>

					<div class="marquee" id="mark">	 	 
						<marquee id="markin" v-html="input | marked" ng-bind-html="marquee"></marquee>
					</div>

					<div class="row">
						<div class="col-xs-12 hidden-sm hidden-md hidden-lg" ng-repeat="x in makersTabs track by $index">
							<a event-nav-hyperlink href="" ng-click="info($index)">
								<div class="event-nav-xs" ng-click="changeTab($index)" ng-class="{'event-nav-selected':(i === $index)}">
									{{x}}
								</div>
							</a>
						</div>
					</div>

					<div class="evcontent">
						<div class="row">
							<div class="hidden-xs"><br><br></div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div ng-if="tab===0" class="cont">
									<div class="row">
										Welcome to the IIT Madras Maker Summit 2016! The 4 day extravaganza set to change your perceptions and broaden your horizons from the 2nd to 5th of January 2016.
									</div><br>
									<div class="row">
									 	The theme for this year's symposium is "Makers". The beautiful experience of the Maker culture is set to blow your mind off. Our subtle message is, “Anyone can be maker”. Makers are techies, artists, creators, entrepreneurs. You.Are.A.Maker
									</div><br>
									<div class="row">
									 	The summit would include a panel discussion on the Maker culture in India, a keynote lecture, 2 unique workshops, a product design challenge including mentoring sessions for intense debate and discussion on the tracks – Transmedia storytelling, Life Hacks and Make a Difference.
									</div><br>
									<div class="row">
									 	In addition to the huge cultural exchange between the international and Indian students and the tremendous learning curve made possible due to a diverse set of participants, the IITM Summit promises to be a great experience for all.
									</div><br>
									<div class="row">
									 	Join us this January and be part of our Maker summit!
									</div>
								</div>
								<div ng-if="tab===1" class="cont">
									<div class="row">
									    <b><p>Panel Discussion</p></b>
										<p>The growing Maker culture in India</p>
										<p>The primary focus is on the developing Maker culture in India, where this movement is headed and what the opportunities available for young innovators and makers are. With a diverse panel of speakers from tech and non-tech backgrounds, the discussion will target the concept of interdisciplinary makers. The participants will have an exclusive opportunity to witness such a gathering of some of the most experienced makers.</p>
									</div>
									<div class="row">
										<b><p>Make-a-thon</p></b>
										<p>The most interesting part of Maker Summit 2016. Get ready to join hands with other like-minded makers to observe, brainstorm and create a prototype from scratch. Participants have 4 days of time, basic workshop & makerspace facilities and a specific amount of resources to come up with something interesting, exciting and useful. Mentoring sessions will be arranged every day to help the participants and guide them through the exciting journey of surveying, ideating, designing and innovating. Exciting prizes and exclusive access to Makerspaces to be awarded to the winners. Stay tuned to our FB page to see the prizes in stock.</p>
									</div>
									<div class="row">
										<b><p>Workshops</p></b>
										<p>Maker summit 2016 provides an opportunity to acquire a unique set of skills, through our workshop sessions.</p>
										<p>1) 3D printing workshop: Ever seen a design on a software, come to life in just a couple of minutes. Ever tried printing a Bob, the minion figure? We at the Maker Summit provide the perfect chance to learn this simple yet necessary skill.</p>
										<p>2) Laser cutting: Wouldn’t it be cool if one can cut a Batrang from a steel plate using a Laser? That is exactly what the participants will learn at our Laser cutting workshop.</p>
									</div>
								</div>
								<div ng-if="tab===2" class="cont">
									<div class="row">
										<b><p>Transmedia storytelling</p></b>
										<p>The story experience is more than just reading a book, and can be told through various other media, such as games, events, cinema, television and nowadays, virtual reality. Define the story's purpose: ranging from educating the public about hygiene to creating a virtual pet and take the project forward through the storyboarding, film editing till prototyping of a product that may one day become the most exciting thing in the world.</p>
									</div>
									<br>
									<div class="row">
										<b><p>Life Hacks</p></b>
										<p>The potential for coming up with simple yet effective solutions for day-to-day issues, is immense. The development of a sensor based tap to save water, portable mobile phone charger and intelligent personal assistant in cell phones to prevent accidents are a few revolutionizing hacks. Explore various avenues after undertaking a complete market survey as part of this track.</p>
									</div>
									<br>
									<div class="row">
										<b><p>Make a difference</p></b>
										<p>The world as we know is plagued with thousands of problems. Extending an arm to help those who need it, is a huge responsibility. As students with problem solving skills and logic, we can make a difference and touch as many lives as possible. The primary focus will be on assistive technology.</p>
									</div>
								</div>
								<div ng-if="tab===3" class="cont">
									<div class="row">
										Stay tuned for further updates!
									</div>
								</div>
								<div ng-if="tab===4" class="cont">
									<div class="row">
										Stay tuned for further updates!
									</div>
								</div>
								<div ng-if="tab===5" class="cont">
									<div class="row">
										<b><p>Day 1</p></b>
										<p><span class="midot"><b>&middot;</b></span> Panel Discussion</p>
										<p><span class="midot"><b>&middot;</b></span> Ice breaking session</p>
										<p><span class="midot"><b>&middot;</b></span> Mentoring session – How to identify the problem</p>
									</div>
									<br>
									<div class="row">
										<b><p>Day 2</p></b>
										<p><span class="midot"><b>&middot;</b></span> Workshop sessions</p>
										<p><span class="midot"><b>&middot;</b></span> Mentoring Sessions – How to approach the problem</p>
										<p><span class="midot"><b>&middot;</b></span> Mozilla Maker Party</p>
									</div>
									<br>
									<div class="row">
										<b><p>Day 3</p></b>
										<p><span class="midot"><b>&middot;</b></span> Mentoring sessions – Designing solutions to the problem</p>
										<p><span class="midot"><b>&middot;</b></span> Keynote Lecture</p>
									</div>
									<br>
									<div class="row">
										<b><p>Day 4</p></b>
										<p><span class="midot"><b>&middot;</b></span> Display of projects at Shaastra and announcement of the best projects</p>
									</div>
								</div>
								<div ng-if="tab===6" class="cont">
									<div class="row">
										<b>Vedant Agarwal</b> - vedantagr@shaastra.org
									</div>
									<br>
									<div class="row">
										<b>Ayesha</b> - ayesha@shaastra.org
									</div>
									<br>
									<div class="row">
										<b>Ramprashanth</b> - +91-8754443260
									</div>
									<br>
									<div class="row">
										<b>Gouri Ram</b> - +91-7708415998
									</div>
									<br>
									<div class="row">
										<b>Shruti Shivakumar</b> - +91-9791264935
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="!eve.eventTabs.length" class="makeCenter">
						<h1>{{ message }}</h1>
					</div>

				</div>
				
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4"></div>
						<div class="col-sm-8 col-md-8 col-lg-8">
							<div class="row">
								<br><br><br><br>
								<div class="row" id="event-nav-box" ng-repeat="x in makersTabs track by $index">
									<a event-nav-hyperlink href="" ng-click="info($index)">
										<div class="col-sm-12 col-md-12 col-lg-12 event-nav" ng-class="{'event-nav-selected':(i === $index)}" ng-click="changeTab($index)">
											<span id="event-nav-span">{{x}}</span>
										</div>
									</a>
									<div class="col-sm-12 col-md-12 col-lg-12"><br></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>



  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
