<div class="container">
	<center>
		<div>
		<div  class="btn-group" role="group">
		  <a href="#/login" id="tab" type="button" class="btn btn-default">Login</a>
		  <a href="#/register"id="tab" type="button" style="background-color:#173e43" class="btn btn-primary">Register</a>
		</div>

		</div>
		<!-- <div id="username"class="input-group">
		  <span class="input-group-addon" id="sizing-addon2"><img src="images/human.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="text" ng-model="name" class="form-control" placeholder="First Name" aria-describedby="sizing-addon2">

		<div id="password"class="input-group">
		  <input type="text" ng-model="secondName" class="form-control" placeholder="Second Name" aria-describedby="sizing-addon2">
		</div></div>
		<br> -->
		<div id="setpassword" class="row">
			<div class="col-lg-offset-3 col-lg-3 col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon2"><img src="images/human.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="text" class="form-control" ng-model="name" placeholder="Enter your First Name" aria-describedby="sizing-addon2">
			</div>
			</div>

			<div class="col-lg-3 col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon2"><img src="images/human.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="text" class="form-control" ng-model="secondName" placeholder="Enter your Second Name" aria-describedby="sizing-addon2">
			</div>
			</div>
		</div>

		<div id="setpassword" class="row">
			<div class="col-lg-offset-3 col-lg-3 col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon"><img src="images/lock.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="Password" class="form-control" ng-model="password" placeholder="Password-atleast 6 characters" aria-describedby="sizing-addon2">
			</div>
			</div>

			<div class="col-lg-3 col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon"><img src="images/lock.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="Password" class="form-control" ng-model="confirmPassword" placeholder="Confirm Password" aria-describedby="sizing-addon2">
			</div>
			</div>
		</div>

		<div id="setpassword" class="row">
			<div class="col-lg-offset-3 col-lg-4 col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon"><img src="images/at.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="text"  ng-model="email" class="form-control" placeholder="Enter a valid Email id" aria-describedby="sizing-addon2">
			</div>
			</div>

			<div class="col-lg-2 col-xs-12">	
			<div class="input-group">
			  <span class="input-group-addon"><img src="images/at.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="text"  ng-model="phoneNumber" class="form-control" placeholder="mobile number" aria-describedby="sizing-addon2">
			</div>
			</div>
		</div>

		<div id="setpassword" class="row">
			<div class="col-lg-offset-3 col-lg-2 col-xs-6">
			<div class="input-group">
			  <span class="input-group-addon"><img src="images/at.png" alt="at" height="20px" width="20px"></img></span>
			  <input type="text"  ng-model="age" class="form-control" placeholder="Enter your Age" aria-describedby="sizing-addon2">
			</div>
			</div>

			<div class="col-lg-2 col-xs-6" style="margin-top:5px;font-family:'Proxima'">
			<label class="radio-inline"><input type="radio" ng-model="gender" value="male">Male</label>
			<label class="radio-inline"><input type="radio" ng-model="gender" value="female">Female</label>	
			</div>
		</div>

		<div id="college" class="input-group">
			<input type="text" ng-model="college.name" ng-keydown="highlight($event)" id="col-in" class="form-control" placeholder="Enter your college" auto-completeone>

			 <!--input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control"-->


			<div id="college-suggestions" class="container-fluid" ng-if="suggestCollegeBool">
			<ul id="col-sug">
				<li ng-repeat="college in collegeSuggestions" ng-click="selectSuggestedCollege(college)" class="col-sug-ele">
					<p ng-bind="college.name" class="col-sug-nam"></p>
				</li>
			</ul>
			</div>
			<p>
			<span ng-click="toggleNewCollegeDiv()" id="toggleCollegeText">Click here</span> to add college if it is not shown</p>
			<div ng-hide="existingCollege">
				<div id="setpassword" class="row">
					<div class="col-lg-9 col-xs-12">
					<input type="text" ng-model="college.name" class="form-control" placeholder="Enter your college">
					</div>
					<div class="col-lg-2 col-xs-12">
					<button class="btn btn-success" ng-click="addCollege()" style="background-color:#1e1e1e">Add</button>
					</div>
				</div>
			</div>
		</div>

		<!-- <div id="email" class="input-group">
		  <span class="input-group-addon"><img src="images/at.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="text"  ng-model="email" class="form-control" placeholder="Enter a valid Email id" aria-describedby="sizing-addon2">
		</div> -->

		<!-- <div id="repassword" class="input-group">
		  <span class="input-group-addon"><img src="images/lock.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="Password" class="form-control" ng-model="repassword" placeholder="Password-atleast 6 characters" aria-describedby="sizing-addon2">
		</div>
		<br> -->

		<a id="btndownr" style="background-color:#173e43" class="btn btn-md btn-primary">Register</a>
	</center>
</div>

<div ng-include="'views/sticky-footer.html'"></div>
