<div class="container" ng-app="shaastra2016App" ng-controller="loginCtrl">
	<center>
		<div>
		<div  class="btn-group" role="group">
		  <a href="#/login" id="tab" type="button" class="btn btn-default">Login</a>
		  <a href="#/register"id="tab" type="button" class="btn btn-primary">Register</a>
		</div>

		</div>
		<div id="username"class="input-group">
		  <span class="input-group-addon" id="sizing-addon2"><img src="images/human.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="text" ng-model="UserName" class="form-control" placeholder="User name or email or shaastra id" aria-describedby="sizing-addon2">

		<div id="password"class="input-group">
		  <input type="text" ng-model="Password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
		</div></div>
		<br>

		<div id="email" class="input-group">
		  <span class="input-group-addon"><img src="images/at.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="text"  ng-model="email" class="form-control" placeholder="Enter a valid Email id" aria-describedby="sizing-addon2">
		</div>

		<div id="repassword" class="input-group">
		  <span class="input-group-addon"><img src="images/lock.png" alt="at" height="20px" width="20px"></img></span>
		  <input type="Password" class="form-control" ng-model="repassword" placeholder="Password-atleast 6 characters" aria-describedby="sizing-addon2">
		</div>
		<br>

		<a id="btndownr" class="btn btn-md btn-primary">Register</a>
	</center>
</div>