<update-title title="Reset Password | Shaastra 2016"></update-title>
<update-meta property="og:title" content="Reset Password | Shaastra 2016"></update-meta>
<update-meta property="og:url" content="{{url}}"></update-meta>

<div class="resetPass-jumbotorn">
  <div class="container-fluid makeCenter">
    <div class="row aboutUsHeading"><b>Reset Password</b></div>
  </div>
  <div id="resetPass-div2" class="col-sm-offset-4 col-sm-4">
    <form class="form" name="form" ng-submit="reset()" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.newPassword.$valid && submitted,
                                          'has-error': form.newPassword.$invalid && submitted }">
        <label>New password</label>

        <input type="password" name="newPassword" class="form-control" ng-model="newPassword"
               ng-minlength="3"
               required/>
        <span class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          Password must be at least 3 characters
        </span>
        <span class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.other }}
        </span>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.confirmNewPassword.$valid && submitted,
                                          'has-error': form.confirmNewPassword.$invalid && submitted }">
        <label>Confirm new password</label>

        <input type="password" name="confirmNewPassword" class="form-control" ng-model="confirmNewPassword"
               required/>
        <span class="help-block"
           ng-show="(newPassword !== confirmNewPassword) && submitted">
          Passwords do not match
        </span>
      </div>

      <span class="help-block"> {{ message }} </span>

      <button class="btn btn-md btn-primary btndownl" ng-disabled="(newPassword !== confirmNewPassword) || (newPassword === '') || (confirmNewPassword === '')" type="submit">Save changes</button>
    </form>
  </div>
</div>

<div ng-include="'views/sticky-footer.html'"></div>
