<update-title title="{{sampark.name}} | Samparks | Shaastra 2016"></update-title>
<update-meta property="og:title" content="{{sampark.name}} | Samparks | Shaastra 2016"></update-meta>
<update-meta property="og:url" content="{{url}}"></update-meta>
<update-meta property="og:description" content="Shaastra is the annual technical festival of Indian Institute of Technology Madras, Chennai, India and the first ISO certified festival of its kind to be held from January 23rd to 26th 2016"></update-meta>
<update-meta property="og:image" content="http://res.cloudinary.com/shaastra-org/image/upload/c_scale,h_200,w_250,f_auto/v1452365698/shaastra-2016/homepage/shaastra-top-hex.png"></update-meta>
<update-meta property="og:image:secure_url" content="https://res.cloudinary.com/shaastra-org/image/upload/c_scale,h_200,w_250,f_auto/v1452365698/shaastra-2016/homepage/shaastra-top-hex.png"></update-meta>

<div class="aboutUs-heading-top">
  <div class="container-fluid makeCenter">
		<div class="row samparkHeading"><b>{{sampark.name}} Sampark</b></div>
	</div>

  <div id="samparkDetails" class="container-fluid font-myraid">
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 samparkContent">
				<div v-html="input | marked" ng-bind-html="sampark.info"></div>
				<div ng-if="sampark.image" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shows">
					<img src="{{sampark.image}}" class="img-responsive">
				</div>
	  	</div>
	  </article>  
  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
