<div>
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>Shows and Exhibitions</b></div>
	</div>

  <div id="aboutUs" class="container-fluid font-myraid">
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
	  		<div class="row">
	  			<h2>Past performances</h2>
	  		</div>
		    <div class="row">
	      	<h3><b>Envisage</b></h3>
	      	<h3>A novel techno cultural show specializing in designing your dreams in the field of science and technology.  It is a marvel of awesomeness as the transcendental fusion of art and technology pleasures your visual senses and stupefies you with audio effects. Being the only student organized event of its kind in the whole country, it gives a new meaning to your idea of entertainment and turning projects into a memory you will long cherish!</h3>
	      	<h3>The work of science can be enigmatic. Have your sight deceived by animations shown using just a strip of LEDs. It was a new groundbreaking performance.</h3>
	      	<h3>This year it is going be even BIGGER &amp; BETTER!  Join us at Shaastra 2016 and get ready to share the awe!</h3>
	      	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shows">
	      		<img class="img-responsive" src="images/shows-envisage.jpg" alt="shows-envisage">
      		</div>
		    </div>
		    <div class="row">
	      	<h3><b>Air show</b></h3>
	      	<h3>One of the biggest RC flying shows in the country, with planes and helicopters all twisting and twirling and fliers using the sky as the canvas for their masterpieces. Previous editions of Shaastra have witnessed some of world's best aero modellers like Wolfgang Krahofer, Gernot Bruckmann from Austria and 14 years old Jase Dussia from USA. Shaastra Air Show never failed in leaving its spectators in wonder!</h3>
	      	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 shows">
	      		<img class="img-responsive" src="images/shows-airshow-one.jpg" alt="shows-airshow-one">
      		</div>
      		<div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-12 shows">
	      		<img class="img-responsive" src="images/shows-airshow-two.jpg" alt="shows-airshow-two">
      		</div>
		    </div>
		    <div class="row">
	      	<h3><b>Laser show</b></h3>
	      	<h3>A technological extravaganza of sheer brilliance with dazzling lights and spectacular illusions, which drives the audience into a fun-filled experience. Laser show, Shaastra 2015 was witnessed and cherished by a huge crowd. Here is a glance of the laser show at Shaastra 2015…</h3>
	      	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 shows">
	      		<img class="img-responsive" src="images/shows-lasershow-one.jpg" alt="shows-lasershow-one">
      		</div>
      		<div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-12 shows">
	      		<img class="img-responsive" src="images/shows-lasershow-two.jpg" alt="shows-lasershow-two">
      		</div>
		    </div>
		    <div class="row">
	      	<h3><b>Exhibits</b></h3>
	      	<h3>A perfect place to witness the marvels of technology.</h3>
	      	<h3>Breaking the boundaries and igniting innovation, Exhibitions has always provided an opportunity for the young minds to witness the achievements in technology. Shaastra is one of the best places where you can see and experience a broad spectrum of modern technology. This is the ideal platform for the tech enthusiasts to gain exposure and interact with the experts who has brought these breathtaking exhibits into existence.</h3>
	      	<h3>Shaastra 2015 had witnessed awe-inspiring exhibits, of which The Arjun tank was a master piece in the field of defense technology.</h3>
	      	<h3>Shaastra 2016 is the year of international exhibitions at IIT Madras. Stay tuned...!</h3>
	      	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 shows">
	      		<img class="img-responsive" src="images/shows-exhibits.jpg" alt="shows-envisage">
      		</div>
		    </div>
	  	</div>
	  </article>  
  </div>
  
</div>
