<div class="aboutUs-heading-top">
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>Shaastra Fellowship</b></div>
	</div>
   <div id="aboutUs" class="container-fluid font-myraid">
  
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
				<div class="cont">
					<div class="row">
						<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
							<img class="img-responsive" src="images/logos/shaastra-fellowship-icon.png" alt="shaastra-fellowship-image">
						</div>
					</div>
					<div class="row makeCenter">
						<h2><b>Welcome to Shaastra-IITM Summer (SIS) fellowships</b></h2>
					</div><br>
					<div class="row">
						<p>Want an Internship at IITM ? Here's a chance for you to get one by winning an event in Shaastra.</p>
						<p>Shaastra 2016 is glad to launch the Shaastra-IITM Summer Fellowships for the very first time. Through this initiative, winners of some specific events are given fellowships and a chance to do an internship* at IIT Madras during the Summer of 2016.  These winners are also given a one day orientation before commencement of their internship.</p>
						<br>
						<p><b>The events that are currently a part of  this program are:</b></p>
						<p><span class="midot"><b>&middot;</b></span> Shaastra Aerial Robotics Contest <a target="_blank" href="http://shaastra.org/#/event/560c1e5ce293fd414ae513ff/561579fdc8d15f6e1252f181">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Start-Up Wars <a target="_blank" href="http://shaastra.org/#/event/560c1e25e293fd414ae513fa/5627d985ce3ee9fa05a34082">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Mixels <a target="_blank" href="http://shaastra.org/#/event/560b7e1d23219ea1374eb17a/56193752ce3ee9fa05a28810">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Machine learning event</p>
						<p><span class="midot"><b>&middot;</b></span> Vaayu Shakthi <a target="_blank" href="http://shaastra.org/#/event/561574e7c8d15f6e1252ef1a/5616c32ce581b3a41edd1a4f">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Shaastra Circuit Design Challenge <a target="_blank" href="http://shaastra.org/#/event/56155228c8d15f6e1252e9db/56156b8fc8d15f6e1252ec71">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Manual Robotics <a target="_blank" href="http://shaastra.org/#/event/560c1e93e293fd414ae51405/5615670dc8d15f6e1252ebd5">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Big Data Challenge <a target="_blank" href="http://shaastra.org/#/event/560c1e25e293fd414ae513fa/5616a9eee581b3a41edd175d">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Code to optimise <a target="_blank" href="http://shaastra.org/#/event/561574e7c8d15f6e1252ef1a/56169b9fe581b3a41edd1525">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Humanoid <a target="_blank" href="http://shaastra.org/#/event/560c1e93e293fd414ae51405/561572bdc8d15f6e1252ee75">(Link Here)</a></p>
						<p><span class="midot"><b>&middot;</b></span> Research Expo - Biotech <a target="_blank" href="http://shaastra.org/#/event/561574e7c8d15f6e1252ef1a/56169807e581b3a41edd143e">(Link Here)</a></p>
					</div>
					<div class="row">
						<p>Check this page regularly for more events that would become a part of this program.</p>
						<p>Contact Balasaravanan TK (<a target="_blank" href="mailto:bala@shaastra.org"><b>bala@shaastra.org</b></a>) for any queries related to this program</p>
					</div>
					<div class="row">
						<p><b>Terms and Conditions,</b></p>
						<p><span class="midot"><b>&middot;</b></span> Internships are awarded based on availability of intern positions in different labs at IIT Madras</p>
						<p><span class="midot"><b>&middot;</b></span> Shaastra only provides an interface for the winners to get an internship at IIT Madras</p>
						<p><span class="midot"><b>&middot;</b></span> Fellowships entitles a stipend amount of Rs. 8000 that the student will receive after successfully completing the internship</p>
						<p><span class="midot"><b>&middot;</b></span> Internship duration is 6-8 weeks. However, it can vary depending on each lab's requirements</p>
						<p><span class="midot"><b>&middot;</b></span> This fellowship is different from the regular Institute fellowship</p>
						<p><span class="midot"><b>&middot;</b></span> Winners will have a choice of the lab they wish to intern at, subject to the availability of intern positions</p>
						<p><span class="midot"><b>&middot;</b></span> Certificates will be provided on completion of the internship</p>
					</div>
				</div>  
	  	</div>
	  </article>  
  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
