<div class="aboutUs-heading-top">
  <div class="container-fluid makeCenter">
		<div class="row aboutUsHeading"><b>Shaastra Fellowship</b></div>
	</div>
   <div id="aboutUs" class="container-fluid font-myraid">
  
	  <article>
	  	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 aboutUsContent">
				<div class="cont">
					<div class="row">
						<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
							<img class="img-responsive" src="images/logos/shaastra-fellowship-icon.png" alt="shaastra-fellowship-image">
						</div>
					</div>
					<div class="row makeCenter">
						<h2><b>Welcome to Shaastra-IITM Summer (SIS) fellowships</b></h2>
					</div><br>
					<div class="row">
						<p>Want an Internship at IITM ? Here's a chance for you to get one by winning an event in Shaastra.</p>
						<p>Shaastra 2016 is glad to launch Shaastra-IITM Summer Fellowships for the first time  ever. Through this initiative, winners of some specific events are given fellowships and a chance to do internship* at IIT Madras during Summer 2016.  These winners are also given a 1-day orientation before commencement of their internship.</p>
						<br>
						<p><b>The events that are currently a part of  this program are:</b></p>
						<p><span class="midot"><b>&middot;</b></span> Shaastra Aerial Robotics Contest</p>
						<p><span class="midot"><b>&middot;</b></span> Start-Up Wars</p>
						<p><span class="midot"><b>&middot;</b></span> Mixels</p>
						<p><span class="midot"><b>&middot;</b></span> Machine learning event</p>
						<p><span class="midot"><b>&middot;</b></span> Vaayu Shakthi</p>
						<p><span class="midot"><b>&middot;</b></span> Shaastra Circuit Design Challenge</p>
						<p><span class="midot"><b>&middot;</b></span> Manual Robotics</p>
						<p><span class="midot"><b>&middot;</b></span> Big Data Challenge</p>
						<p><span class="midot"><b>&middot;</b></span> Code to optimise</p>
						<p><span class="midot"><b>&middot;</b></span> Humanoid</p>
						<p><span class="midot"><b>&middot;</b></span> Research Expo - Biotech</p>
					</div>
					<div class="row">
						<p>Check this page regularly for more events that would become a part of this program.</p>
						<p>Contact Balasaravanan TK (<a target="_blank" href="mailto:bala@shaastra.org"><b>bala@shaastra.org</b></a>) for any queries related to this program</p>
					</div>
					<div class="row">
						<p><b>Terms and Conditions,</b></p>
						<p><span class="midot"><b>&middot;</b></span> Internships are given based on availability of intern positions in different labs at IIT Madras</p>
						<p><span class="midot"><b>&middot;</b></span> Shaastra only provides an interface for the winners to get an internship at IIT Madras</p>
						<p><span class="midot"><b>&middot;</b></span>  Fellowships entitles a stipend amount of 8000 Rs. that the student would receive while doing the internship at IIT Madras</p>
						<p><span class="midot"><b>&middot;</b></span> Fellowship can only be deemed after successful completion of the internship at IIT Madras</p>
						<p><span class="midot"><b>&middot;</b></span> Internship duration is 6-8 weeks. However, it can vary based on respected lab's requirements</p>
						<p><span class="midot"><b>&middot;</b></span> This fellowship is different from the regular Institute fellowship</p>
						<p><span class="midot"><b>&middot;</b></span> Winners have a choice to decide the lab at IITM based on availability at that time</p>
						<p><span class="midot"><b>&middot;</b></span> Certificates will be provided at the completion of internship</p>
					</div>
				</div>  
	  	</div>
	  </article>  
  </div>
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
