<div ng-controller="sponsorsCtrl">

<br><br><br>
  <div id="heading" class="spons_heading"><b>SHAASTRA  &nbsp2016: &nbsp SPONSORS</div>
<p>
  <button type="button" class="btn btn-default btn-sm" ng-click=""><div class="heading"><div class="tab_spons">SPONSORS 2015</div></div></button></p><p>
    <button type="button" class="btn btn-default btn-sm" ng-click=""><div class="heading"><div class="tab_spons">SPONSORS 2016</div></div></button></p>
  <article>
    <table id="makecenter"><tr>
     	<td id="sp" class="col-sm-2"><a class="spons-name" target="_blank" href="#" >Bhavik Rasyara</a><br>
     	 +91-8939317150<br>
     	<a target="_blank" href="#">bhavik@shaastra.org</a>
     	</td>

     	<td id="sp" class="col-sm-2"><a class="spons-name" target="_blank" href="#">Shashanka Rao</a><br>+91-9498098063
     	<br>
     	<a target="_blank" href="#">shashanka@shaastra.org</a>
     	</td>

     	<td id="sp" class="col-sm-2"><a class="spons-name" target="_blank" href="#" >Mahesh Kurup</a><br>
     	+91-9444443592<br>
     	<a target="_blank" href="#"> kurup@shaastra.org</a>
     	</td>
     </tr>
    </table>

    <br><br><br>

    <table id="makecenter"><tr class="heading"><td><div class="font_spons">PRESENTING SPONSOR</div>
    <a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a>
    </td></tr>
    </table>

    <br><br><br>

    <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-6"><div class="font_spons">ASSOCIATE SPONSOR </div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-6" ><div class="font_spons">RESEARCH SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>	
    	</tr>
    </table>

   

<br><br>
     <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-6"><div class="font_spons">IDP SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-6"><div class="font_spons">HOSPITALITY SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>
<br><br>
     <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-6"><div class="font_spons">PRIZE SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-6"><div class="font_spons">PRIZE SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>
    <br><br>
     <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-6"><div class="font_spons">WEBHOSTING SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-6"><div class="font_spons">WEBHOSTING SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>
     <br><br>

     <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-3"><div class="font_spons">CO SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">CO SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">CO SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">CO SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
   
    	</tr>
    </table>
    <br><br>

  <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-3"><div class="font_spons">EVENT SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">EVENT SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">EVENT SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">EVENT SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table><br><br>
 <table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-3"><div class="font_spons">BIG DATA SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">LITERATURE SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">EYE CARE SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">GIFTING SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>
    <br><br>
 <table id="makecenter">
   	<tr class="heading">
    		<td class="col-xs-3"><div class="font_spons">EDUCATION SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">EDUCATION SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">EDUCATION SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">FINANCIAL LEARNING SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>
     
    <br><br><table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-4"><div class="font_spons">DEPOSITORY SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-4"><div class="font_spons">DATA MINING SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-4"><div class="font_spons">SCIENCE SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    
    	</tr>
    </table>
     <br><br>
  <table id="makecenter">
    	<tr class="heading">
    		
    		<td class="col-xs-3"><div class="font_spons">CREATIVITY SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">JOTTING SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">STATIONERY SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">REGENERATIVE SOLUTIONS SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>

 <br><br>
  <table id="makecenter">
    	<tr class="heading">
    		
    		<td class="col-xs-4"><div class="font_spons">WORKSHOP SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-4"><div class="font_spons">WORKSHOP SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-4"><div class="font_spons">WORKSHOP SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    	</tr>
    </table>

<br><br><table id="makecenter">
    	<tr class="heading">
    		<td class="col-xs-3"><div class="font_spons">MEDIA SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">ONLINE SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">ONLINE MEDIA SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    		<td class="col-xs-3"><div class="font_spons">ONLINE MEDIA SPONSOR</div><a href="#" target="_blank"><img class="spons_img" src="/images/220px-Pringles.svg.png"></a></td>
    
    	</tr>
    </table>

  </article>  
  
</div>

<div ng-include="'views/sticky-footer.html'"></div>
