<update-title title="Sponsors | Shaastra 2016"></update-title>
<update-meta property="og:title" content="Sponsors | Shaastra 2016"></update-meta>
<update-meta property="og:url" content="{{url}}"></update-meta>
<update-meta property="og:description" content="Shaastra is the annual technical festival of Indian Institute of Technology Madras, Chennai, India and the first ISO certified festival of its kind to be held from January 23rd to 26th 2016"></update-meta>
<update-meta property="og:image" content="http://res.cloudinary.com/shaastra-org/image/upload/c_scale,h_200,w_250,fl_lossy,f_auto,q_80/v1452365698/shaastra-2016/homepage/shaastra-top-hex.png"></update-meta>
<update-meta property="og:image:secure_url" content="https://res.cloudinary.com/shaastra-org/image/upload/c_scale,h_200,w_250,fl_lossy,f_auto,q_80/v1452365698/shaastra-2016/homepage/shaastra-top-hex.png"></update-meta>

<div ng-controller="sponsorsCtrl" class="spons-container-top">
  <div class="container spons-heading-div">
    <div class="row">
      <div id="heading" ng-show="tab_2016"><p class="spons-heading"><b>SHAASTRA  &nbsp; 2016 &nbsp; SPONSORS</b></p></div>
      <div id="heading" ng-show="tab_2015"><p class="spons-heading"><b>SHAASTRA  &nbsp; 2015 &nbsp; SPONSORS</b></p></div>
    </div>
  </div>

  <p><button type="button" class="btn btn-default btn-sm" ng-class="{'spons-button-selected' : tab_2016}" ng-click="show2016()"><div class="heading"><div class="tab-spons">SPONSORS 2016</div></div></button></p>
  <p><button type="button" class="btn btn-default btn-sm" ng-class="{'spons-button-selected' : tab_2015}" ng-click="show2015()"><div class="heading"><div class="tab-spons">SPONSORS 2015</div></div></button></p>

  <div class="container makeCenter">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3 class="spons-name"><b>Bhavik Rasyara</h3>
        <h4>+91-8939317150</h4>
        <h4><a target="_blank" href="mailto:bhavik@shaastra.org">bhavik@shaastra.org</a></h4>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3 class="spons-name"><b>Shashanka Rao</h3>
        <h4>+91-9498098063</h4>
        <h4><a target="_blank" href="mailto:shashanka@shaastra.org">shashanka@shaastra.org</a></h4>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <h3 class="spons-name"><b>Mahesh Kurup</h3>
        <h4>+91-9444443592</h4>
        <h4><a target="_blank" href="mailto:kurup@shaastra.org">kurup@shaastra.org</a></h4>
      </div>
    </div>
  </div>  

  <div ng-if="0" class="row makeCenter">
    <h1>Stay tuned for Updates!</h1>
  </div>
  <div ng-if="tab_2016" class="container makeCenter">
    <div class="row spons-row" ng-repeat="category in sponsors2016 track by $index">

      <div ng-if="category.path.length === 1">
        <h1 class="spons-title"><b><u>{{ category.title }}</u></b></h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-12">
          <a target="_blank" href="{{sponsor.link1}}"><img ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

      <div ng-if="category.path.length === 2">
        <h1 class="spons-title"><b><u>{{ category.title }}</u></b></h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <a target="_blank" href="{{sponsor.link1}}"><img ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

      <div ng-if="category.path.length === 3">
        <h1 class="spons-title"><b><u>{{ category.title }}</u></b></h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a target="_blank" href="{{sponsor.link1}}"><img ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

      <div ng-if="category.path.length >= 4">
        <h1 class="spons-title"><b><u>{{ category.title }}</u></b></h1>
        <div ng-repeat="sponsor in category.path" class="row">
          <a target="_blank" href="{{sponsor.link1}}"><img ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

    </div>
  </div>

  <div ng-if="tab_2015" class="container makeCenter">
    <div class="row spons-row" ng-repeat="category in sponsors2015 track by $index">

      <div ng-if="category.path.length === 1">
        <h1 class="spons-title"><b>{{ category.title }}</h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-12">
          <a target="_blank" href="{{sponsor.link1}}"><img width="300" height="100" ng-show="tab_2015" ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

      <div ng-if="category.path.length === 2">
        <h1 class="spons-title"><b>{{ category.title }}</h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <a ng-show="tab_2015" target="_blank" target="_blank" href="{{sponsor.link1}}"><img width="300" height="100" ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

      <div ng-if="category.path.length === 3">
        <h1 class="spons-title"><b>{{ category.title }}</h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a ng-show="tab_2015" target="_blank" href="{{sponsor.link1}}"><img width="300" height="100" ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

      <div ng-if="category.path.length === 4">
        <h1 class="spons-title"><b>{{ category.title }}</h1>
        <div ng-repeat="sponsor in category.path" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <a ng-show="tab_2015" target="_blank" href="{{sponsor.link1}}"><img width="300" height="100" ng-src="{{sponsor.image1}}" alt="{{sponsor.image1}}"></a>
        </div>
      </div>

    </div>
  </div>

  
</div>

<div ng-include="'views/sticky-footer.html'"></div>