<div class="sticky-footer">
  <div class="container footer-div">
    <div class="row footer-nav">
      <div class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-sm-3 col-xs-3 footer-nav-item"><a href="/#/about-us">ABOUT US</a></div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 footer-nav-item"><a href="#">HOSPITALITY</a></div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 footer-nav-item"><a href="#">SPONSORS</a></div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 footer-nav-item"><a href="/#/contact-us">CONTACT US</a></div>
    </div>
  </div>

  <div class="container bottom-links">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <ul>
          <li><a href="#" class="link">Link 1</a></li>
          <li><a href="#" class="link">Link 2</a></li>
          <li><a href="#" class="link">Link 3</a></li>
          <li><a href="#" class="link">Link 4</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <ul>
          <li><a href="#" class="link">Link 5</a></li>
          <li><a href="#" class="link">Link 6</a></li>
          <li><a href="#" class="link">Link 7</a></li>
          <li><a href="#" class="link">Link 8</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <ul>
          <li><a href="#" class="link">Link 9</a></li>
          <li><a href="#" class="link">Link 10</a></li>
          <li><a href="#" class="link">Link 11</a></li>
          <li><a href="#" class="link">Link 12</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
        <ul>
          <li><a href="#" class="link">Link 13</a></li>
          <li><a href="#" class="link">Link 14</a></li>
          <li><a href="#" class="link">Link 15</a></li>
          <li><a href="#" class="link">Link 16</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>