<div class="sticky-footer">
  <div class="container-fluid footer-no-padding" ng-controller="MainController">
    <div class="row footer-nav footer-div">
        <div ng-click="gotoLink('/about-us')" class="footer-nav-item"><a target="_blank" href="/#/about-us">ABOUT US</a></div>
        <div ng-click="gotoLink('/hospitality')" class="footer-nav-item"><a target="_blank" href="#/hospitality">HOSPITALITY</a></div>
        <div ng-click="gotoLink('/shaastra-felloshwip')" class="footer-nav-item"><a target="_blank" href="/#/shaastra-fellowship">SHAASTRA FELLOWSHIP</a></div>
        <div ng-click="gotoLink('/sponsors')" class="footer-nav-item"><a target="_blank" href="#/sponsors">SPONSORS</a></div>
        <div ng-click="gotoLink('/contact-us')" class="footer-nav-item"><a target="_blank" href="/#/contact-us">CONTACT US</a></div>
    </div>
  </div>

  <div class="container bottom-links">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul class="footer-ul">
          <li><p><a target="_blank" href="#/event-list" class="link link-heading">Events</a></p></li>
          <li><a target="_blank" href="#/event-category/560c1e5ce293fd414ae513ff" class="link">Aerofest</a></li>
          <li><a target="_blank" href="#/event-category/560c1e25e293fd414ae513fa" class="link">B - Events</a></li>
          <li><a target="_blank" href="#/event-category/560b7e1d23219ea1374eb17a" class="link">Coding</a></li>
          <li><a target="_blank" href="#/event-category/560c1e93e293fd414ae51405" class="link">Design and Build</a></li>
          <li><a target="_blank" href="#/event-category/56155228c8d15f6e1252e9db" class="link">Electronics Fest</a></li>
          <li><a target="_blank" href="#/event-category/56155713c8d15f6e1252e9fe" class="link">Quizzing</a></li>
          <li><a target="_blank" href="#/event-category/561554d4c8d15f6e1252e9ee" class="link">Involve</a></li>
          <li><a target="_blank" href="#/event-category/561574e7c8d15f6e1252ef1a" class="link">Research Events</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul class="footer-ul">
          <li><p><a target="_blank" href="#/shaastra-fellowship" class="link link-heading">Shaastra Fellowship</a></p></li>
          <li><p><a target="_blank" href="#/lectures" class="link link-heading">Lecture Series</a></p></li>
          <li><p><a target="_blank" href="#/maker-summit" class="link link-heading">Maker Summit</a></p></li>
          <li><p><a target="_blank" href="#/samparks" class="link link-heading">Samparks</a></p></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul class="footer-ul">
          <li><p><a target="_blank" href="#/social" class="link link-heading">Pledge-a-book</a></p></li>
          <li><p><a target="_blank" href="#/workshop-category/561567aac8d15f6e1252ebee" class="link link-heading">Workshops</a></p></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul class="footer-ul">
          <li><p><a target="_blank" href="#/shows-and-exhibitions" class="link link-heading">Shows and Exhibitions</a></p></li>
          <li><p><a target="_blank" href="https://play.google.com/store/apps/details?id=com.shaastra.release" class="link link-heading"><i class="fa fa-android"></i>  Android app</a></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>