<div class="sticky-footer">
  <div class="container-fluid footer-no-padding" ng-controller="MainController">
    <div class="row footer-nav footer-div">
        <div ng-click="gotoLink('/about-us')" class="footer-nav-item"><a href="/#/about-us">ABOUT US</a></div>
        <div ng-click="gotoLink('/hospitality')" class="footer-nav-item"><a href="#/hospitality">HOSPITALITY</a></div>
        <div ng-click="gotoLink('/sponsors')" class="footer-nav-item"><a href="#/sponsors">SPONSORS</a></div>
        <div ng-click="gotoLink('/contact-us')" class="footer-nav-item"><a href="/#/contact-us">CONTACT US</a></div>
    </div>
  </div>

  <div class="container bottom-links">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul>
          <li><p><a href="#/event-list" class="link link-heading">Events</a></p></li>
          <li><a href="#/event-category/560c1e5ce293fd414ae513ff" class="link">Aerofest</a></li>
          <li><a href="#/event-category/560c1e25e293fd414ae513fa" class="link">B - Events</a></li>
          <li><a href="#/event-category/560b7e1d23219ea1374eb17a" class="link">Coding</a></li>
          <li><a href="#/event-category/560c1e93e293fd414ae51405" class="link">Design and Build</a></li>
          <li><a href="#/event-category/56155228c8d15f6e1252e9db" class="link">Electronics Fest</a></li>
          <li><a href="#/event-category/56155713c8d15f6e1252e9fe" class="link">Quizzing</a></li>
          <li><a href="#/event-category/561554d4c8d15f6e1252e9ee" class="link">Involve</a></li>
          <li><a href="#/event-category/561574e7c8d15f6e1252ef1a" class="link">Research Events</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul>
          <li><p><a href="#/international-summit" class="link link-heading">International Summit</a></p></li>
          <li><p><a href="#/samparks" class="link link-heading">Samparks</a></p></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul>
          <li><p><a href="#/social" class="link link-heading">Pledge-a-book</a></p></li>
          <li><p><a href="#/workshop-category/561567aac8d15f6e1252ebee" class="link link-heading">Workshops</a></p></li>
<!--           <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156a8fc8d15f6e1252ec40" class="link">SolidWorks</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/5615696ac8d15f6e1252ec2a" class="link">Aspen Workshop</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156d2bc8d15f6e1252ecff" class="link">Ball following robot</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156ce2c8d15f6e1252ecd8" class="link">Bluetooth controlled robot</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156b2ac8d15f6e1252ec5b" class="link">Computational Neuroscience</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/561568c4c8d15f6e1252ec1d" class="link">Eye Robotics</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156a57c8d15f6e1252ec3c" class="link">Computing using Mathematica</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156acac8d15f6e1252ec43" class="link">Network Analysis in System Biology</a></li>
          <li><a href="#/workshop/561567aac8d15f6e1252ebee/56156d49c8d15f6e1252ed09" class="link">Web Development</a></li>
 -->        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
        <ul>
          <li><p><a href="#/shows-and-exhibitions" class="link link-heading">Shows and Exhibitions</a></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>