<header style="position:fixed; z-index:350; background-color:red; width:100%;">
  <div id="omnbars" class="o inblock" ng-controller="MainController">
    <span class="bars" id="bar1"></span>
    <span class="bars" id="bar2"></span>
    <span class="bars" id="bar3"></span>
    <span class="bars" id="bar4"></span>
  </div>
  
  <div id="cmnbars" class="c none" ng-controller="MainController">
    <span class="bars" id="bar5"></span>
    <span class="bars" id="bar6"></span>
  </div>

  <div id="back-button" ng-click="backButton()" ng-controller="MainController" link="/">
    <span class="glyphicon glyphicon-arrow-left" id="scroll-glyphicon"></span>
  </div>
</header>
<!-- 
<div style="position:fixed; z-index:300; top:2%; right:2%;">
  <header>
    <div class="top-menu" ng-controller="MainController">
      <p class="search"><span class="s scl">Search</span><span class="scl glyphicon glyphicon-search"></span><span class="inp"><input class="none si" type="search" name="Search"><span class="none si sic glyphicon glyphicon-remove"></span></span></p>
      <p ng-hide="isLoggedIn()" class="account"><span class="ac">Account</span><a id="login" ng-href="#/login" class="none ai">Login/Register</a><span class="glyphicon glyphicon-user"></span></p>
      <p ng-show="isLoggedIn()" class="account"><span class="ac">Hello {{ getCurrentUser().name }}</span><a id="login" ng-click="logout()" class="none ai">Log out</a><span class="glyphicon glyphicon-user"></span></p>
    </div>
  </header>
</div>
 -->
<!-- 
<div class="menu" style="position:fixed; z-index:350;" ng-controller="MainController">
  <ul class="mn-list">
    <span id="menuscroll">
    <li><a href="#/">Home</a></li>
    <li><a href="#/login">Log In/Register</a></li>
    <li><a href="#/preShaastra">Pre-Shaastra</a></li>
    <li class="down"><a class="d" href="#/event-list">Events<span class="fa fa-caret-right"></span></a>
      <ul class="list">
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
      </ul>
    </li>
    <li class="down"><a  class="d" href="#">Workshops<span class="fa fa-caret-right"></span></a>
      <ul class="list">
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
      </ul>
    </li>
    <li class="down"><a class="d" href="#">Lectures<span class="fa fa-caret-right"></span></a>
      <ul class="list">
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
      </ul>
    </li>
    <li><a href="#">Sponsors</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#/contactUs">Contact Us</a></li>
    </span>
  </ul>
</div>
 -->
 <div class="menu" style="position:fixed; z-index:350;" ng-controller="MainController">
  <img src="images/dice.png" class="img-responsive side-menu-dice" alt="shaastra">
  <ul class="mn-list">
    <span id="menuscroll">
      <li><a href="#/">Home</a></li>
      <!-- <li><a href="#/login">Log In/Register</a></li> -->
      <li><a href="#/pre-shaastra">Pre-Shaastra</a></li>
      <li class="down"><a class="d" href="#/event-list">Events</a></li>
      <li class="down"><a  class="d" href="#/workshop-list">Workshops</a></li>
      <li class="down"><a class="d" href="#/lectures">Lectures</a></li>
      <li><a href="#/sponsors">Sponsors</a></li>
      <li><a href="#/about-us">About Us</a></li>
      <li><a href="#/contact-us">Contact Us</a></li>
    </span>
  </ul>
</div>
