<header style="position:fixed; z-index:350; background-color:red; width:100%;">
  <div id="omnbars" class="o inblock" ng-controller="MainController">
    <span class="bars" id="bar1"></span>
    <span class="bars" id="bar2"></span>
    <span class="bars" id="bar3"></span>
    <span class="bars" id="bar4"></span>
  </div>
  
  <div id="cmnbars" class="c none" ng-controller="MainController">
    <span class="bars" id="bar5"></span>
    <span class="bars" id="bar6"></span>
  </div>

  <div id="back-button" ng-click="backButton()" ng-controller="MainController" ng-show="showBackButton" link="/">
    <span class="glyphicon glyphicon-arrow-left" id="back-glyphicon"></span>
  </div>
</header>
<!-- 
<div style="position:fixed; z-index:300; top:2%; right:2%;">
  <header>
    <div class="top-menu" ng-controller="MainController">
      <p class="search"><span class="s scl">Search</span><span class="scl glyphicon glyphicon-search"></span><span class="inp"><input class="none si" type="search" name="Search"><span class="none si sic glyphicon glyphicon-remove"></span></span></p>
      <p ng-hide="isLoggedIn()" class="account"><span class="ac">Account</span><a id="login" ng-href="#/login" class="none ai">Login/Register</a><span class="glyphicon glyphicon-user"></span></p>
      <p ng-show="isLoggedIn()" class="account"><span class="ac">Hello {{ getCurrentUser().name }}</span><a id="login" ng-click="logout()" class="none ai">Log out</a><span class="glyphicon glyphicon-user"></span></p>
    </div>
  </header>
</div>
 -->
<!-- 
<div class="menu" style="position:fixed; z-index:350;" ng-controller="MainController">
  <ul class="mn-list">
    <span id="menuscroll">
    <li><a href="#/">Home</a></li>
    <li><a href="#/login">Log In/Register</a></li>
    <li><a href="#/preShaastra">Pre-Shaastra</a></li>
    <li class="down"><a class="d" href="#/event-list">Events<span class="fa fa-caret-right"></span></a>
      <ul class="list">
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
      </ul>
    </li>
    <li class="down"><a  class="d" href="#">Workshops<span class="fa fa-caret-right"></span></a>
      <ul class="list">
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
      </ul>
    </li>
    <li class="down"><a class="d" href="#">Lectures<span class="fa fa-caret-right"></span></a>
      <ul class="list">
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
        <li><a href="#">Aero</a></li>
      </ul>
    </li>
    <li><a href="#">Sponsors</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#/contactUs">Contact Us</a></li>
    </span>
  </ul>
</div>
 -->

<div class="container top-nav-container">
  <div class="row nav-bar home-top-nav">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item"><a href="/#/event-list">EVENTS</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item"><a href="/#/workshop-category/561567aac8d15f6e1252ebee">WORKSHOPS</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item"><a href="/#/shows-and-exhibitions">SHOWS AND EXHIBITIONS</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item"><a href="/#/samparks">PRE-SHAASTRA ACTIVITIES</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item"><a href="/#/international-summit">INTERNATIONAL SUMMIT</a></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nav-item"><a href="/#/social">PLEDGE-A-BOOK</a></div>
    <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 nav-item"><a href="#">LECTURES</a></div> -->
  </div>
</div>

<div class="menu" style="position:fixed; z-index:350;" ng-controller="MainController">
  <a href="#/about-us"><img src="images/dice.png" class="img-responsive side-menu-dice" alt="shaastra"></a>
  <ul class="mn-list">
    <span id="menuscroll">
      <li><a href="#/">Home</a></li>
      <!-- <li><a href="#/login">Log In/Register</a></li> -->
      <li><a href="#/samparks">Pre-Shaastra</a></li>
      <li class="down"><a class="d" href="#/event-list">Events</a></li>
      <li class="down"><a class="d" href="#/workshop-category/561567aac8d15f6e1252ebee">Workshops</a></li>
      <li class="down"><a class="d" href="#/international-summit">International Summit</a></li>
      <!-- <li class="down"><a class="d" href="#/lectures">Lectures</a></li> -->
      <li class="down"><a class="d" href="#/shows-and-exhibitions">Shows And Exhibitions</a></li>
      <!-- <li><a href="#/sponsors">Sponsors</a></li> -->
      <li><a href="#/social">Social Cause</a></li>
      <li><a href="#/about-us">About Us</a></li>
      <li><a href="#/contact-us">Contact Us</a></li>
    </span>
  </ul>
  <footer style="position:absolute; z-index:350; width:100%; padding:0% 2% 0% 36px;">
    <div style="float:left; padding-top:2%">
      <ul class="out mn-social"><!-- 
         --><li class="social"><a id="fb" target="_blank" href="https://www.facebook.com/Shaastra"><i class="fa fa-facebook"><span></span></i></a></li><!-- 
         --><li class="social"><a id="tw" target="_blank" href="https://twitter.com/ShaastraIITM"><i class="fa fa-twitter"><span></span></i></a></li><!-- 
         --><li class="social"><a id="you" target="_blank" href="https://www.youtube.com/user/iitmshaastra"><i class="fa fa-youtube-play"><span></span></i></a></li><!-- 
         --><li class="social"><a id="li" target="_blank" href="https://www.linkedin.com/company/shaastra-iit-madras"><i class="fa fa-linkedin"><span></span></i></a></li><!-- 
       --></ul>
    </div>
  </footer>  
</div>
