<style type="text/css">
	body{
		background-color: black;
	}
	.evhead{
		font-variant: small-caps;
		font-family: arial;
		font-size: 35px;
		z-index: 1;
		position: relative;
	}
	.evcontent{
		background-color: white;
		z-index: 1;
		position: relative;
		width: 100%;
		height: 350px;
		overflow-x:hidden;
		overflow-y: auto;
	}
	.bt{
		position: absolute;

		z-index: 5;
		right: 210px;
		top: 1px;
		background-color: blue;
		color: white;
		border-radius: 5px;
	}
	.imag{
		height: 50px;
		width: 150px;
	}
	.cont{
		font-size: 20px;
		font-family: arial;
	}
	.im{
		height: 100px;
		width: 150px;
	}
	.evfoot{
		z-index: 10;
		position: relative;
		color: black;
	}
	@media screen and (min-width: 1700px){
		.nav{
		font-variant: small-caps;
		z-index: 1;
		background-color: blue;
		color: white;
		width: 100%;
		height: 45px;
		vertical-align: middle;
		font-family: arial;
		font-size: 25px;
		text-align: right;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		padding-right: 50px;
	}
	 }
	@media screen and (min-width: 1400px) and (max-width: 1700px){
		.nav{
		font-variant: small-caps;
		z-index: 1;
		background-color: blue;
		color: white;
		width: 100%;
		height: 45px;vertical-align: middle;
		font-family: arial;
		font-size: 20px;
		text-align: right;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		padding-right: 50px;
	}
	 }
		@media screen and (max-width: 1400px){
		.nav{
		font-variant: small-caps;
		z-index: 1;
		background-color: blue;
		color: white;
		width: 100%;
		height: 45px;vertical-align: middle;
		font-family: arial;
		font-size: 15px;
		text-align: right;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		padding-right: 50px;
	}
	 }
	#c{
		position: absolute;
		top: 30px;
		right: 0px;
		opacity: 0;
		}
	
	.nav1{
		font-variant: small-caps;
		z-index: 5;
		background-color: blue;
		color: white;
		width: 0px;
		height: 35px;
		font-family: arial;
		font-size: 19px;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		padding-right: 30px;
	}
	.user{
		z-index: 1;
		position: relative;
		font-size: 15px;
	}
	.n{
		position: absolute;
		right: 170px;
		width: -500px;
	}
	#left{
		position: absolute;
		top: 15px;
		right: -35px;
	}
	.menubar{
		z-index: 1;
		position: relative;
		font-size: 20px;
	}
</style>
