#intro
{	display:table;
	background: url(college_img/1.png) no-repeat center center scroll;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
h1
{
	color:black;
	text-align: center ;
	font-family: Helvetica,sans-serif;
	font-size: 200px;
	text-shadow: 4px 4px 4px #aaa;
}
h2,h3,h4{
	color:black;
	text-align: center ;
	font-family: Helvetica,sans-serif;
	margin-left: 15%;
	margin-right: 15%;
}


.btn-circle
{
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}
.thumbnail
{
	border:0 none;
}
.apply>ul>li>h3,h2
{
	color:white;
	font-size:25px;
}

