#intro
{	display:table;
	background: url(college_img/1.png) no-repeat center center scroll;
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
h1
{
	color:black;
	text-align: center ;
	font-family: Helvetica,sans-serif;
	font-size: 200px;
	text-shadow: 4px 4px 4px #aaa;
}
h2,h3,h4{
	color:black;
	text-align: center ;
	font-family: Helvetica,sans-serif;
	margin-left: 15%;
	margin-right: 15%;
}


.btn-circle
{
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}
.thumbnail
{
	border:0 none;
  background-color: none;
}
.apply>ul>li>h3,h2
{
	color:white;
	font-size:25px;
}
.caption
{
  cursor:pointer;
}
/*.box_rotate {
  -webkit-transform: rotate(180deg);  
     -moz-transform: rotate(180deg);  
      -ms-transform: rotate(180deg);  
       -o-transform: rotate(180deg);  
          transform: rotate(180deg);  
}
.box_transition {
  -webkit-transition: all 0.3s ease-out;  
     -moz-transition: all 0.3s ease-out;  
       -o-transition: all 0.3s ease-out;  
          transition: all 0.3s ease-out;  
}*/

/* Chrome, Safari, Opera */
@-webkit-@keyframes handle_transition {
    from {
      -ms-transform: rotate(-180deg); /* IE 9 */
      -webkit-transform: rotate(-180deg); /* Safari */
      transform: rotate(-180deg); /* Standard syntax */
      opacity:0;
    }
    to 
    {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg); /* Standard syntax */
      opacity:1;
    }
}

/* Standard syntax */
@keyframes handle_transition {
    from {
      -ms-transform: rotate(-180deg); /* IE 9 */
      -webkit-transform: rotate(-180deg); /* Safari */
      transform: rotate(-180deg); /* Standard syntax */
      opacity:0;
    }
    to 
    {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg); /* Standard syntax */
      opacity:1;
    }
}

.handle_anim
{   opacity:1;
    -webkit-animation-name: handle_transition; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: handle_transition;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.btn-default
{

  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}

