.motto {
  color: white;
	background-color: #35C8B6; 
	padding: 5%;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'myriad-pro-font';
}

.motto > div:first-child > p {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 2em;
}

.motto-box {
  text-align: center;
  border: 3px solid white;
  margin-top: 3%;
  font-size: 2em;
  height: auto;
}

#await {    
  text-align: center;
  color: #3C3D43;
  font-size: 2.5em;
  padding: 2%;
  font-family: 'myriad-pro-font';
  font-weight: bold;
}

.thumbnail
  {
  text-align:center;
  background-color:transparent;
  border:1px solid white;
  margin:0px;
  }
.caption>p
  {
  font-family: Arial;
  color: white;
  }

.one {
 	font-size: 4em;
 	text-align: center;
}

.two {
	font-size: 1.1em;
	text-align: center;
}

#three
  {
 	font-weight:bold;
 	font-size: 15px;
  }

figure {
	display: inline-block;
 	text-align: center;
}

figcaption {
	font-size: 1.2em;
}

h1
  {
 	font-size: 32px;
  }
#object_1
  {
 	font-size:200px;
  }
#img_1
  {
 	height:2%;
  position: absolute;
  }
h2
  {
 	font-size: 24px;
  }

#first {
	color: black;
	text-transform: uppercase;
 	font-size: 2.5em;
 	font-weight: bold;
 	font-family: 'myriad-pro-font';
 	text-align: center;
 	padding: 5%;
}   

tbody>tr>th>a,tbody>tr>th>a:link,tbody>tr>th>a:visited,tbody>tr>th>a:hover,tbody>tr>th>a:active
  {
	color:white;
	text-decoration:none;
	font-family: "Arial";
	font-size:20px;
  }
.sb-slidebar
  {
	background-color:white;
  }
tbody>tr:nth-child(odd)
  {
	opacity:0.5;
  }
#menu-bars{
  float: right;
  margin-right: 2%;
  margin-top: 2%;
  color:white;
  cursor:pointer;
}
.initialAdjustment{
  -webkit-transform: translate(0,500px);
}
#ticks{ 
  -webkit-transition: -webkit-transform 1s ease-in-out;
}
.caption{
  color: black;
}
#side-menu {
  position:absolute;
  height: 100%;
  left:0;
  top:0;
  list-style-type: none;
  margin: 0;  
  padding: 0;
  width:100%;
  background-color: white;
}
#side-menu li{
  display: block;
  width: 100%;  
  text-align:center;
}
#side-menu a{
  color: black;
  text-decoration: none;
  font-weight: normal;
}
hr { 
  margin-top: 17px; 
  margin-bottom: 17px; 
}
/*.intro
{
	display:table;
	width: 100%;
	height:100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom:100px
}

.intro>h1,.intro>h2,.intro>h3
{
	color:white;
}
*/
.thumbnail
{
	border:0 none;
}
.thumbnail>img
{
	width:150px;
	height: 150px;
}

.statistics {
	color: white;	
}

table
{
	margin-left:50px;
}
.ad_photos
{
	background:url(spons_img/ad_1.png) left no-repeat,url(spons_img/ad_2.png) center no-repeat,url(spons_img/ad_3.png) right no-repeat;
	background-size: auto,auto,auto;
	height: 300px;
	width:100%;
}
.ad_photos2
{
	background:url(spons_img/IMG_1046-10.jpg) left no-repeat,url(spons_img/IMG_1046-8.jpg) center no-repeat,url(spons_img/robo oceana.jpg) right no-repeat;
	background-size: auto,auto,auto;
	height: 300px;
}

.events {
	color: black;
	text-align: center;
	font-size: 2.5em;
	padding: 5%;
	text-transform: uppercase;
}

.mission {
	background-color: #35C8B6;
	color: white;
	padding: 10% 5% 5% 5%;
	font-size: 1.2em;
}

.tab-content>div p
{
	margin-left:10%;
	margin-right: 10%;
	font-size:25px;
	font-weight:300;
	margin-bottom:10%;
}
.tab-content>div h2
{
	font-size: 35px;
	margin-bottom: 30px;
}
.centered
{
	text-align:center;
	margin-bottom:70px;
}

.parallax-window {
	padding: 5%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes events_hover {
  from {opacity:1;}
  to {opacity: 0.4;}
}

/* Standard syntax */
@keyframes events_hover {
  from {filter: alpha(opacity=100); /* For IE8 and earlier */}
  to {filter: alpha(opacity=40); /* For IE8 and earlier */}
}
.events>div>img:nth-child(n):hover
{
	-webkit-animation-name: events_hover; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: events_hover;
  animation-duration: 4s;
}

#shaastraMainHeading {
	color: white;
	text-align: center;
	font-size: 4em;
	text-transform: uppercase;
	font-family: 'robust-font';
}

#about-shaastra-one {
	color: white;
	text-align: center;
	font-size: 2em;
	font-family: 'myriad-pro-font';
	font-weight: bold;
}

#about-shaastra-two {
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-family: 'myriad-pro-font';
	font-weight: bold;
}

.shaastra-paragraph {
	color: white;
	text-align: center;
	font-size: 1.1em;
	font-family: 'myriad-pro-font';
	font-weight: bold;
}

.certification {
	margin-bottom: 100px;
}

.acheivements {
	background-color: #35C8B6;
}

.shaastra-aim {
	padding: 5% 5% 0px 0px;
	color: white;
	font-size: 1.2em;
}

#eventsHeading{
	font-size:50px;
	text-align:center;
	margin-bottom:40px;
}
.lastImages{
	margin-bottom:150px;
}

#firstButton{
	margin:auto;
}
.shaastraHeadings{
	color:black;
}
#statisticsText{
	margin-top:50px;
}
#eventsImageContainer{
	display:inline-block;
	margin-top:60px;
	margin-left:2%;
}
.humbly{
	background-image: url('spons_img/14.png');
}

.footer {
	color: white;
	background-image: url('spons_img/00000.png');
	padding: 0%;
}

.footer-top {
	text-align: center;
	padding: 5%;
}

.footer-middle {
	background-color: rgba(128, 128, 128, 0.1);
	text-transform: uppercase;
	text-align: center;
	padding: 3% 0%;
}

.footer-bottom {
	padding: 10%;
	font-size: 1.2em;
}