@font-face {
	font-family: 'robust-font';
	src: url('./fonts/CGF-Locust-Resistance.woff') format('woff');
}

@font-face {
	font-family: 'roboto-font';
	src: url('./fonts/Roboto-Regular-webfont.woff') format('woff');
}

.title {
	font-family: 'robust-font';
	padding: 1%;
}

.sub-title {
	font-weight: bold;
	color: black;
}

.content {
	font-family: 'roboto-font';
	font-size: 1.1em;
	color: black;
}

.text-right {
	text-align: right;
}

.workshop-info > img:nth-child(odd) {
	float: right;
}

.workshop-info > img:nth-child(even) {
	float: left;
}