.intro
{
	display:table;
	background: url(spons_img/1.png) no-repeat center center scroll;
	width: 100%;
	height:100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
h1
{
	color:black;
	text-align: center ;
	font-family: Helvetica,sans-serif;
	font-size: 200px;
	text-shadow: 4px 4px 4px #aaa;
}
h2,h3,h4{
	color:black;
	text-align: center ;
	font-family: Helvetica,sans-serif;
	margin-left: 15%;
	margin-right: 15%;
}
.intro>h1,.intro>h2,.intro>h3
{
	color:white;
}
.thumbnail
{
	border:0 none;
}
.thumbnail>img
{
	width:150px;
	height: 150px;
}
.statistics
{
	background: url(spons_img/8.png) no-repeat center center scroll;
	color: white;
	height:300px;
	list-style-type: none;
}

table
{
	/*border:1px solid white;*/
	margin-left:50px;

}
.ad_photos
{
	background:url(spons_img/ad_1.png) left no-repeat,url(spons_img/ad_2.png) center no-repeat,url(spons_img/ad_3.png) right no-repeat;
	background-size: auto,auto,auto;
	height: 300px;
}
.ad_photos2
{
	background:url(spons_img/IMG_1046-10.jpg) left no-repeat,url(spons_img/IMG_1046-8.jpg) center no-repeat,url(spons_img/robo oceana.jpg) right no-repeat;
	background-size: auto,auto,auto;
	height: 300px;
}
.normal_para
{
	background: url(spons_img/14.png) no-repeat center center scroll;
	height:340px;
}
.events>div img
{
	width:350px;height: auto;
	margin-right:55px;
	margin-bottom: 70px;
}
.tab-content>div p
{
	margin-left:10%;
	margin-right: 10%;
	font-size:25px;
	font-weight:300;
	margin-bottom:10%;
}
.tab-content>div h2
{
	font-size: 35px;
	margin-bottom: 30px;
}
.centered
{
	text-align:center;
	margin-bottom:70px;
}
.humbly
{
	background: url(spons_img/14.PNG) no-repeat center center scroll;

}
.humbly>ul>li>h3,h2
{
	color:white;
}